<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>考试1</title>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>
</head>
<body>
<form >
	<select name="search" id="c">
		<option value="time">根据下单时间查询</option>
		<option value="name">根据用户名查询</option>
	</select>
	<input type="text" name="start_time" id="start_time">
	<input type="text" name="end_time" id="end_time">
	<input type="hidden" name="user_name" id="user_name">
	<input type="button" value="搜索" id="search">
</form>
	<table border="1px solid #ccc">
		<tr>
			<th>订单id</th>
			<th>下单人</th>
			<th>商品名称</th>
			<th>订购数量</th>
			<th>订购时间</th>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
	<script type="text/javascript">
		$(function(){
			$("input[type=button]").click(function(){
				var type = $('#c').val();
				var start_time = $('input[name=start_time]').val();
				var end_time = $('input[name=end_time]').val();
				var user_name = $('input[name=user_name]').val();
				if(user_name == ''){
					var data = {
						'start_time':start_time,
						'end_time':end_time
					};
					$.ajax({
						'url':'__CONTROLLER__/getOrderByTime',
						'type':'post',
						'data':data,
						'dataType':'json',
						'success':function(response){
							if(response.code != 10000){
								alert(response.msg);
								return;
							}
						}
					});
				}else{
					var data = {
						'user_name':user_name
					};
					$.ajax({
						'url':'__CONTROLLER__/getOrderByName',
						'type':'post',
						'data':data,
						'dataType':'json',
						'success':function(response){
							if(response.code != 10000){
								alert(response.msg);
								return;
							}
						}
					});
				}
			});
		});
	</script>
<hr>
	<form action="__SELF__" method="post">
		用户名:<input type="text" name="name"><br>
		密码:<input type="text" name="passwd"><br>
		验证码:<input type="text" name="verify"><img src="__CONTROLLER__/captch" onclick="this.src='__CONTROLLER__/captch/_/'+Math.random();" width="100px" height="30px" font_size="10px">
	</form>
</body>
</html>