<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>naturix</title>

        <!-- Font Icon -->
        <link href="__PUBLIC__/Home/css/plugin/font-awesome.min.css" rel="stylesheet" type="text/css">  

        <!-- CSS Global -->
        <link href="__PUBLIC__/Home/css/plugin/bootstrap.min.css" rel="stylesheet" type="text/css">  
        <link href="__PUBLIC__/Home/css/plugin/bootstrap-select.min.css" rel="stylesheet" type="text/css"> 
        <link href="__PUBLIC__/Home/css/plugin/owl.carousel.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/Home/css/plugin/animate.css" rel="stylesheet" type="text/css"> 
        <link href="__PUBLIC__/Home/css/plugin/jquery-ui.min.css" rel="stylesheet" type="text/css"> 

        <!-- Custom CSS -->
        <link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css">

        <!-- Color CSS --> 

        <!--[if lt IE 9]>
        <script src="__PUBLIC__/Home/js/plugin/html5shiv.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/respond.js"></script>
        <![endif]-->        
    </head>

    <body id="home" class="wide">

         


        <!-- WRAPPER -->
        <main class="wrapper"> 
            <!-- CONTENT AREA -->

            <!-- Main Header Start -->
            <include file="Common/top" />
            <header class="main-header white-bg">
                <include file="Common/header" />
            </header>
            <!-- / Main Header Ends -->   

            <!--Breadcrumb Section Start-->
            <section class="breadcrumb-bg">                
                <div class="theme-container container ">                       
                    <div class="site-breadcumb white-clr">                        
                        <h2 class="section-title"> <strong class="clr-txt">naturix </strong> <span class="light-font">Shop </span> </h2>
                        <ol class="breadcrumb breadcrumb-menubar">
                            <li> <a href="#"> Home </a> Contact  </li>                             
                        </ol>
                    </div>  
                </div>
            </section>
            <!--Breadcrumb Section End-->


            <!-- Shop Starts-->
            <section class="contact-wrap sec-space-bottom">
                <div class="container rel-div pt-50">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="contact-map">  <div id="map"></div> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-details">
                                <h3 class="fsz-25"><span class="light-font">naturix  </span> <strong>Address </strong>  </h3> 
                                <h6 class="sub-title-1 pb-15">ORGANIC STORE</h6>

                                <h5 class="clr-txt fsz-12 pt-15">naturix STORE</h5>
                                <p>142 West newton, NY 19088, United States</p>

                                <ul>
                                    <li> <strong>Call:  </strong> <i>+7 (100) 2234 999</i> </li>
                                    <li> <strong>Email: </strong> <i> <a href='#'>info@montero.com</a> </i> </li>
                                    <li> <strong>Skype: </strong> <i> <a href='#'> Montero.Property </a> </i> </li>
                                    <li> <strong>Facebook: </strong> <i>  <a href='#'> Montero.facebook </a> </i> </li>
                                    <li> <strong>Twitter: </strong> <i>  <a href='#'> @Montero.Property </a> </i> </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="divider-full-1"></div>

                    <div class="pt-50 col-md-8 col-md-offset-2">
                        <h3 class="fsz-25 text-center"><span class="light-font">Contact </span> <strong>naturix </strong>  </h3> 
                        <h6 class="sub-title-1 text-center">ORGANIC STORE</h6>

                        <div class="contact-form pt-50">
                            <form class="contact-form row">
                                <div class="form-group col-sm-4">
                                    <input class="form-control" placeholder="Name" required="" type="text">                                                                                     
                                </div>
                                <div class="form-group col-sm-4">
                                    <input class="form-control" placeholder="Email" required="" type="email">                                                                                     
                                </div>
                                <div class="form-group col-sm-4">
                                    <input class="form-control" placeholder="Phone" type="text">                                                                                     
                                </div>
                                <div class="form-group col-sm-12">
                                    <textarea class="form-control"  placeholder="Message" cols="12" rows="4"></textarea>                                                                                     
                                </div>
                                <div class="form-group col-sm-12 text-center pt-15">                                               
                                    <button class="theme-btn" type="submit"> <strong> SEND EMAIL </strong> </button>                                            
                                </div>
                            </form>
                        </div>
                    </div>

                </div>                
            </section>
            <!-- / Shop Ends -->      

            <!-- / CONTENT AREA -->

            <!-- FOOTER -->
            <include file="Common/footer" />
            <!-- /FOOTER -->

            <div id="to-top-mb" class="to-top mb"> <i class="fa fa-arrow-circle-o-up"></i> </div>

        </main>
        <!-- /WRAPPER -->

        <!-- JS Global -->
        <script src="__PUBLIC__/Home/js/plugin/jquery-2.2.4.min.js"></script>   
        <script src="__PUBLIC__/Home/js/plugin/bootstrap.min.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/bootstrap-select.min.js"></script>       
        <script src="__PUBLIC__/Home/js/plugin/owl.carousel.min.js"></script>

        <!-- Custom JS -->   
        <script src="__PUBLIC__/Home/js/theme.js"></script>
        <script src="http://ditu.google.cn/maps/api/js?key=AIzaSyBwarlVfqlWKfonKl9T0wr9VGC0ynvbdiU&callback=initMap" async defer></script>

        <!--自定义js-->
        <script src="__PUBLIC__/Home/js/index.js"></script>

    </body>
</html>

