<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Home</title>

        <!-- Font Icon -->
        <link href="__PUBLIC__/Home/css/plugin/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- CSS Global -->
        <link href="__PUBLIC__/Home/css/plugin/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/Home/css/plugin/bootstrap-select.min.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/Home/css/plugin/owl.carousel.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/Home/css/plugin/animate.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/Home/css/plugin/subscribe-better.css" rel="stylesheet" type="text/css">

        <!-- Custom CSS -->
        <link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css">

        <link href="__PUBLIC__/Plugins/layer/skin/layer.css" rel="stylesheet" type="text/css">

        <!-- Color CSS -->

        <!--[if lt IE 9]>
        <script src="__PUBLIC__/Home/js/plugin/html5shiv.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/respond.js"></script>
        <![endif]-->
    </head>

    <body id="home" class="wide">



        <div id="loading">
            <div class="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>

        <!-- WRAPPER -->
        <main class="wrapper home-wrap"> 
            <!-- CONTENT AREA -->

            <!-- Main Header Start -->
            <header class="main-header" >
                <include file="Common/header" />
            </header>
            <!-- / Main Header Ends -->   

            <!-- Main Slider Start -->
            <section class="main-slide">
                <img alt=".." src="__PUBLIC__/Home/img/slider/slide-6.jpg" />
                <div class="tbl-wrp slide-1">
                    <div class="text-middle">
                        <div class="tbl-cell">
                            <div class="slide-caption container text-center">
                                <div class="slide-title">
                                    <img src="__PUBLIC__/Home/img/icons/slide-txt-1.png" alt="" />
                                    <span>零玖一手工作坊</span>
                                </div>
                                <div class="slide-title2 pb-50">
                                    <h3 class="section-title" style="font-size: 60px;"> <strong>Creativity </strong><span class="light-font"> change life,  </span>  <span class="light-font">shape life by  </span> <strong>hand </strong> </h3>
                                    <h4 class="sub-title"> 创意改变生活 手工塑造人生 </h4>
                                </div>
                                <div class="slide">
                                    <a href="__MODULE__/Index/search/keyword/" class="slide-btn"> Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / Main Slider Ends -->   

            <!-- Organic All Starts-->
            <section class="organic-all sec-space-bottom">
                <div class="pattern"> 
                    <img alt="" src="__PUBLIC__/Home/img/icons/white-pattern.png" />
                </div>
                <div class="section-icon"> 
                    <img alt="" src="__PUBLIC__/Home/img/icons/icon-3.jpg" style="width: 50px;border-radius:50px"/>
                </div>
                <div class="container">                    
                    <div class="organic-wrap"> 
                        <img class="logo-img" alt="" src="__PUBLIC__/Home/img/icons/icon-2.jpg" style="width: 150px;border-radius:10px"/>
                        <div class="tabs-box">
                            <ul class="theme-tabs">
                                <volist name="cate_goods" key="key" id="val">
                                <li <if condition=" $key == 1 ">class="active"<else/>class=""</if>>
                                    <a href="#product-tab-{$key}" data-toggle="tab"> <span class="light-font"> </span> <strong>{$cate_goods[$key-1][0]['cn']} </strong> </a></li>
                                </volist>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container-fluid"> 
                    <div class="col-md-12"> 
                        <div class="tab-content organic-content row">
                            <volist name="cate_goods" key="k" id="v">
                            <div id="product-tab-{$k}" <if condition=" $k == 1 ">class="tab-pane fade active in"<else/>class="tab-pane fade"</if>>
                                <div class="product-slider-1 dots-1"> 

                                    <volist name="v" id="val">
                                    <div class="item" gid="{$val.i}">
                                        <div class="product-box"> 
                                            <div class="product-media"> 
                                                <img class="prod-img" alt="" src="{$val['bi']}" />
                                                <img class="shape" alt="" src="__PUBLIC__/Home/img/icons/shap-small.png" />
                                                <if condition=" $val['is_act'] == 1 ">
                                                    <span class="prod-tag tag-1">new</span> <span class="prod-tag tag-2">sale</span>
                                                </if>
                                                <div class="prod-icons"> 
                                                    <a href="javascript:void(0);" class="fa fa-heartbeat"></a>
                                                    <a href="javascript:void(0);" class="fa fa-shopping-basket"></a>
                                                    <a  href="#product-preview" gid="{$val['i']}" data-id="{$val['i']}" data-toggle="modal" class="fa fa-expand"></a>
                                                </div>
                                            </div>                                           
                                            <div class="product-caption"> 
                                                <h3 class="product-title">
                                                    <a href="/Goods/detail/id/{$val['i']}"> <span class="light-font">  </span>  <strong title="{$val['n']}">{$val['n']}</strong></a>
                                                </h3>
                                                <div class="price"> 
                                                    <strong class="clr-txt">${$val['p']} </strong> <del class="light-font">${$val['bp']} </del>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </volist>

                                </div>
                            </div>
                            </volist>

                        </div>
                    </div>
                </div>
            </section>
            <!-- / Organic All Ends -->

            <!-- Organic Farmfood Starts-->
            <section class="organic-farm sec-space-top light-bg">

                <img alt="" src="__PUBLIC__/Home/img/extra/sec-img-1.png" class="left-bg-img" />  
                <img alt="" src="__PUBLIC__/Home/img/extra/sec-img-2.png" class="center-bg-img" />  

                <div class="container rel-div">
                    <div class="title-wrap">
                        <h2 class="section-title"> <span class="light-font">零玖一手工作坊 </span> <strong>lingjiuyi <img src="__PUBLIC__/Home/img/icons/logo-icon.png" alt="" /> </strong> </h2>
                        <h4 class="sub-title"> <span> 创意改变生活 手工塑造人生 </span> </h4>
                        <p>人生一世，有多少言不由衷；思我一生，有多少无可奈何。 </p>
                        <p>我觉得生命是最重要的，所以在我心里，没有事情是解决不了的。不是每一个人都可以幸运的过自己理想中的生活，有楼有车当然好了，没有难道哭吗?所以呢，我们一定要享受我们所过的生活。——《新不了情》</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 text-center">
                            <div class="feature-wrap">
                                <img src="__PUBLIC__/Home/img/extra/feature-1.png" alt="" />
                                <h3 class="title-1 ptb-15"> <span class="light-font">fresh from </span> <strong> naturix farm</strong> </h3>
                                <p>"Love is the one thing that transcends time and space. " - Amelia</p>
                                <p>爱是唯一可以超越时间与空间的事物。</p>
                                <a href="javascript:void(0);" class="sm-bnt-wht">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <div class="feature-wrap">
                                <img src="__PUBLIC__/Home/img/extra/feature-2.png" alt="" />
                                <h3 class="title-1 ptb-15"> <span class="light-font"> 100%</span> <strong> organic goods</strong> </h3>
                                <p>"Murphy's law doesn't mean that something bad will happen. It means that whatever can happen, will happen." - Cooper</p>
                                <span style="font-size: 10px;">墨菲定律并非指的是那些变坏的事情必会发生…而是指那些能够发生的事情，就会发生。</span>
                                <a href="javascript:void(0);" class="sm-bnt-wht">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <div class="feature-wrap">
                                <img src="__PUBLIC__/Home/img/extra/feature-3.png" alt="" />
                                <h3 class="title-1 ptb-15"> <span class="light-font">premium </span> <strong> quality</strong> </h3>
                                <p>"We used to look up at the sky and wonder at our place in the stars, now we just look down and worry about our place in the dirt."</p>
                                <span style="font-size: 10px;">我们曾经仰望星空並且期许总有一天可以登陆其他星球，但现在我们只能低头担心我们居住地的废土。 - 《星际穿越》</span>
                                <a href="javascript:void(0);" class="sm-bnt-wht">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <div class="feature-wrap">
                                <img src="__PUBLIC__/Home/img/extra/feature-4.png" alt="" />
                                <h3 class="title-1 ptb-15"> <span class="light-font">100% </span> <strong>natural</strong> </h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.  </p>
                                <a href="javascript:void(0);" class="sm-bnt-wht">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="rel-div feature-img">
                        <img src="__PUBLIC__/Home/img/extra/advertisement.gif" alt="" style="border-radius:50px"/>
                    </div>
                </div>
            </section>
            <!-- / Organic Farmfood Ends -->

            <!-- Our Products Starts-->
            <section class="organic-product sec-space" style="padding-top: 30px;padding-bottom: 10px;">
                <div class="container"> 
                    <div class="row sec-space-top" >
                        <div class="col-lg-6 col-sm-12">
                            <div class="row">
                                <volist name="six_cates" id="val" offset="0" length='3'>
                                <div class="col-sm-4"> 
                                    <div class="organic-prod">
                                        <img src="{$val.img}" alt="暂无图片" />
                                        <span class="divider"></span>
                                        <h3 class="title-1"> <a href="__MODULE__/Index/search/cates/{$val.id}"> <span class="light-font">
                                        </span> <strong title="{$val['cn']}"> {$val.cn}</strong> </a> </h3>
                                        <a class="clr-txt font-2" href="__MODULE__/Index/search/cates/{$val.id}"> <i> {$val.sum} 个商品 </i> </a>
                                    </div>
                                </div>
                                </volist>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="row">
                                <volist name="six_cates" id="val" offset="3" length='3'>
                                    <div class="col-sm-4">
                                        <div class="organic-prod">
                                            <img src="{$val.img}" alt="暂无图片" />
                                            <span class="divider"></span>
                                            <h3 class="title-1"> <a href="__MODULE__/Index/search/cates/{$val.id}"> <span class="light-font">
                                        </span> <strong title="{$val['cn']}"> {$val.cn}</strong> </a> </h3>
                                            <a class="clr-txt font-2" href="__MODULE__/Index/search/cates/{$val.id}"> <i> {$val.sum} 个商品 </i> </a>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </div>
                    </div>
                    <div class="row sec-space-top">
                        <div class="col-lg-6 col-sm-12">
                            <div class="row">
                                <volist name="six_cates" id="val" offset="6" length='3'>
                                    <div class="col-sm-4">
                                        <div class="organic-prod">
                                            <img src="{$val.img}" alt="" />
                                            <span class="divider"></span>
                                            <h3 class="title-1"> <a href="__MODULE__/Index/search/cates/{$val.id}"> <span class="light-font"> </span> <strong title="{$val['cn']}"> {$val.cn}</strong> </a> </h3>
                                            <a class="clr-txt font-2" href="__MODULE__/Index/search/cates/{$val.id}"> <i> {$val.sum} 个商品 </i> </a>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="row">
                                <volist name="six_cates" id="val" offset="9" length='3'>
                                <div class="col-sm-4">
                                    <div class="organic-prod">
                                        <img src="{$val.img}" alt="" />
                                        <span class="divider"></span>
                                        <h3 class="title-1"> <a href="__MODULE__/Index/search/cates/{$val.id}"> <span class="light-font"> </span> <strong title="{$val['cn']}"> {$val.cn}</strong> </a> </h3>
                                        <a class="clr-txt font-2" href="__MODULE__/Index/search/cates/{$val.id}"> <i> {$val.sum} 个商品 </i> </a>
                                    </div>
                                </div>
                                </volist>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / Our Products Ends -->            

            <!-- naturix Goods Starts-->
            <section class="naturix-goods sec-space-bottom">
                <div class="container"> 
                    <div class="title-wrap">
                        <h4 class="sub-title"> FIND THE INNER PEACE </h4>
                        <h2 class="section-title"> <span class="round-shape">  <span class="light-font">lingjiuyi </span> <strong> Manual workshop <img src="__PUBLIC__/Home/img/icons/logo-icon.png" alt="" /></strong> </span> </h2>
                    </div>

                    <div class="tabs-box text-center">
                        <ul class="theme-tabs small">
                            <volist name="new_shop_goods" id="v" key="k">
                            <li <if condition=" $k == 1 ">class="active"<else/>class=""</if>>
                                <a href="#naturix-tab-{$k}" data-toggle="tab">
                                    <span class="light-font">all </span>
                                    <strong>{$new_shop_goods[$k-1][0][shop_name]} </strong>
                                </a>
                            </li>
                            </volist>
                        </ul>
                    </div>

                    <div class="tab-content organic-content row">
                        <volist name="new_shop_goods" id="v" key="k">
                        <div id="naturix-tab-{$k}" <if condition = " $k == 1 ">class="tab-pane fade active in" <else/> class="tab-pane fade"</if>>
                            <div class="naturix-slider-1 dots-1">

                                <volist name="v" id="val" key="key">
                                    <div class="item" gid="{$val.i}">
                                        <div class="product-box">
                                            <div class="product-media">
                                                <img class="prod-img" alt="" src="{$val.bi}" />
                                                <img class="shape" alt="" src="__PUBLIC__/Home/img/icons/shap-small.png" />
                                                <if condition=" $val['is_act'] == 1 ">
                                                <span class="prod-tag tag-1">new</span> <span class="prod-tag tag-2">sale</span>
                                                </if>
                                                <div class="prod-icons">
                                                    <a href="javascript:void(0);" class="fa fa-heartbeat"></a>
                                                    <a href="javascript:void(0);" class="fa fa-shopping-basket"></a>
                                                    <a  href="#product-preview" data-toggle="modal" class="fa fa-expand"></a>
                                                </div>
                                            </div>
                                            <div class="product-caption">
                                                <h3 class="product-title">
                                                    <a href="/Goods/detail/id/{$val.i}"> <span class="light-font">  </span>  <strong title="{$val['n']}">{$val.n}</strong></a>
                                                </h3>
                                                <div class="price">
                                                    <strong class="clr-txt">${$val.p} </strong> <del class="light-font">${$val.bp} </del>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </volist>

                            </div>
                        </div>
                        </volist>
                    </div>

                </div>
            </section>
            <!-- / naturix Goods Ends -->

            <!-- Deals Starts-->
            <section class="deals sec-space light-bg">
                <img alt="" src="__PUBLIC__/Home/img/extra/sec-img-3.png" class="right-bg-img" />  
                <img alt="" src="__PUBLIC__/Home/img/extra/sec-img-4.png" class="left-bg-img" />  

                <div class="container"> 
                    <div class="row"> 
                        <div class="col-sm-5 text-right"> 
                            <h4 class="sub-title"> naturix DEAL OF THE DAY </h4>
                            <h2 class="section-title"> <span class="light-font">organic goods </span> <strong>50% </strong> <span class="light-font">off</span> </h2>
                        </div>
                        <div class="col-sm-2 text-center no-padding"> 
                            <img alt="" src="__PUBLIC__/Home/img/extra/deal.png" />
                        </div>
                        <div class="col-sm-5"> 
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                        </div>
                    </div>
                    <div class="deal-count">
                        <div class="countdown-wrapper">
                            <div id="defaultCountdown" class="countdown"></div>
                        </div>  
                    </div>
                    <div class="deal-slider dots-2">
                        <volist name="act_goods" id="val">
                        <div class="item" gid="{$val.i}">
                            <div class="deal-item">
                                <div class="deal-icons">                                         
                                    <a href="javascript:void(0);" class="fa fa-heartbeat"></a>
                                    <a href="javascript:void(0);" class="fa fa-shopping-basket"></a>
                                    <a href="#product-preview" data-toggle="modal" class="fa fa-expand"></a>
                                </div>
                                <div class="deal-content">
                                    <div class="text-right">
                                        <span class="prod-tag tag-1">new</span> <span class="prod-tag tag-2">sale</span>
                                    </div>
                                    <div class="deal-text">
                                        <h4 class="sub-title"> ORGANIC FRUITS </h4>
                                        <h2 class="fsz-30 pb-15"> <a href="/Goods/detail/id/{$val.i}"> <span class="light-font">fresh </span> <strong  title="{$val['n']}">{$val.n} </strong> </a> </h2>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
                                        <div class="price pt-15"> 
                                            <strong class="clr-txt">${$val.p} </strong> <del class="light-font">${$val.bp} </del>
                                        </div>
                                    </div>
                                    <div class="deal-img"> <img alt="" src="{$val.si}" /> </div>
                                </div>
                            </div>
                        </div>
                        </volist>
                    </div>
                </div>
            </section>
            <!-- / Deals Ends -->

            <!-- Random Products Starts-->
            <section class=" sec-space-bottom">
                <div class="pattern"> 
                    <img alt="" src="__PUBLIC__/Home/img/icons/white-pattern.png">
                </div>
                <div class="section-icon"> 
                    <img alt="" src="__PUBLIC__/Home/img/icons/icon-1.png">
                    <div class="pt-15 icon"> 
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>  
                        <span class="light-font"> a taste of </span> <strong>real food</strong>
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>  
                    </div>
                </div>
                <div class="container"> 
                    <!-- Random Products -->
                    <div class="row">
                        <volist name="new_three_goods" key="key" id="val">
                        <div class="col-md-4 pt-50">
                            <h4 class="sub-title-sm"> NEW FROM THE FARM </h4>
                            <h2 class="fsz-30 pb-15"> <span class="light-font"> </span> <strong><if condition=" $key == 1 ">{$val[0]['cn']}<elseif condition=" $key == 2 "/>{$val[1]['cn']}<else/>{$val[2]['cn']}</if> </strong> </h2>
                            <div <if condition=" $key == 1 ">id="new-arrivals"<elseif condition=" $key == 2 "/>id="best-seller"<else/>id="customer-needs"</if> class="nav-1">
                                <div class="item">
                                    <volist name="val" id="v" key="k">
                                    <if condition=" $k % 2 == 0 ">
                                    <div class="random-prod"> 
                                        <div class="random-img"> 
                                            <img alt="" src="{$v.bi}" />
                                        </div>
                                        <div class="random-text"> 
                                            <h3 class="title-1 no-margin"> <a href="/Goods/detail/id/{$v.i}"> <span class="light-font">organic </span> <strong title='{$v.n}'>{$v.n} </strong> </a> </h3>
                                            <span class="divider"></span>
                                            <div class="price"> 
                                                <strong class="clr-txt">${$v.p} </strong> <del class="light-font">${$v.bp} </del>
                                            </div>
                                        </div>
                                    </div>
                                    </if>
                                    </volist>
                                </div>
                                <div class="item">
                                    <volist name="val" id="v" key="k">
                                    <if condition=" $k % 2 != 0 ">
                                        <div class="random-prod">
                                            <div class="random-img">
                                                <img alt="" src="{$v.bi}" />
                                            </div>
                                            <div class="random-text">
                                                <h3 class="title-1 no-margin"> <a href="/Goods/detail/id/{$v.i}"> <span class="light-font"> </span> <strong title="{$val['n']}">{$v.n} </strong> </a> </h3>
                                                <span class="divider"></span>
                                                <div class="price">
                                                    <strong class="clr-txt">${$v.p} </strong> <del class="light-font">${$v.bp} </del>
                                                </div>
                                            </div>
                                        </div>
                                    </if>
                                    </volist>
                                </div>
                            </div>
                        </div>
                        </volist>
                    </div>

                    <!-- Banner -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="prod-banner green-banner">
                                <h4 class="title"> <span class="light-font"> 新鲜来自我们的农庄: </span> <strong> 绿橄榄 </strong> </h4>
                                <div class="banner-box">
                                    <div class="banner-content">
                                        <h3 class="title-sec">Vegetable</h3>
                                        <h2 class="section-title"> <span class="light-font">绿 </span> <strong>橄榄 </strong> </h2>
                                        <h4 class="sub-title"> 35% OFF IN JUNE-JULY </h4>
                                        <a href="javascript:void(0);" class="btn"> <span> 查看更多 </span> <i class="fa fa-long-arrow-right"></i> </a>
                                    </div>
                                </div>
                                <img src="__PUBLIC__/Home/img/extra/banner-1.png" alt=""  class="top-img" />
                                <img src="__PUBLIC__/Home/img/extra/banner-2.png" alt=""  class="bottom-img" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="prod-banner orange-banner">
                                <h4 class="title"> <span class="light-font"> 盛夏   </span> <strong>果实 </strong> </h4>
                                <div class="banner-box">
                                    <div class="banner-content">
                                        <h3 class="title-sec">Fruits</h3>
                                        <h2 class="section-title"> <span class="light-font">所有  </span> <strong>夏季水果 </strong> </h2>
                                        <h4 class="sub-title"> 35% OFF IN JUNE-JULY </h4>
                                        <a href="javascript:void(0);" class="btn"> <span> 查看更多 </span> <i class="fa fa-long-arrow-right"></i> </a>
                                    </div>
                                </div>
                                <img src="__PUBLIC__/Home/img/extra/banner-3.png" alt=""  class="bottom-img" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Random Products Ends -->

            <!-- Subscribe Newsletter Starts-->
            <section class="subscribe-wrap sec-space light-bg">
                <img alt="" src="__PUBLIC__/Home/img/extra/sec-img-7.jpg" class="right-bg-img" style="width:340px;opacity: 0.7;border-radius:50px"/>
                <img alt="" src="__PUBLIC__/Home/img/extra/sec-img-8.jpg" class="left-bg-img" style="width:340px;opacity: 0.7;border-radius:50px"/>

                <div class="container"> 
                    <div class="row"> 
                        <div class="col-md-4"> 
                            <h4 class="sub-title"> 分享 我们的 实时讯息 </h4>
                            <h2 class="fsz-35"> <span class="light-font">订阅 </span> <strong> 讯息</strong> </h2>
                        </div>
                        <div class="col-md-8"> 
                            <form class="newsletter-form row">
                                <div class="form-group col-sm-8">
                                    <input class="form-control" name="email_address" placeholder="登记你的电子邮箱" required=""  type="text">
                                </div>
                                <div class="form-group col-sm-4">                                               
                                    <button class="theme-btn btn-block subscribe" type="button"> 订阅 <i class="fa fa-long-arrow-right"></i> </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Subscribe Newsletter Ends -->

            <!-- Testimonials Starts-->
            <section class="">
                <div class="container"> 
                    <div class="testimonials">     
                        <div id="testimonial-slider" class="testimonial-slider nav-1"> 
                            <div class="item"> 
                                <div class="testi-wrap"> 
                                    <div class="testi-img"> 
                                        <a href="javascript:void(0);"> <img src="__PUBLIC__/Home/img/extra/feature-1.png" alt="" /> </a>
                                    </div>
                                    <div class="testi-caption"> 
                                        <p> <i>“双十二折扣大减，买二送二，还有属于你的专属定制礼品.”</i> </p>
                                        <a href="javascript:void(0);"> <i class="fa fa-user clr-txt"></i> <strong> MK官方旗舰店--上海宝山区 </strong> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item"> 
                                <div class="testi-wrap"> 
                                    <div class="testi-img"> 
                                        <a href="javascript:void(0);"> <img src="__PUBLIC__/Home/img/extra/feature-2.png" alt="" /> </a>
                                    </div>
                                    <div class="testi-caption"> 
                                        <p> <i>“雅诗兰黛倾情巨献，折扣立减，小黑瓶8折优惠.”</i> </p>
                                        <a href="javascript:void(0);"> <i class="fa fa-user clr-txt"></i> <strong> MK官方旗舰店--武汉洪山区 </strong> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testi-wrap">
                                    <div class="testi-img">
                                        <a href="javascript:void(0);"> <img src="__PUBLIC__/Home/img/extra/organic-3.png" alt="" /> </a>
                                    </div>
                                    <div class="testi-caption">
                                        <p> <i>“双十二折扣大减，买二送二，还有属于你的专属定制礼品.”</i> </p>
                                        <a href="javascript:void(0);"> <i class="fa fa-user clr-txt"></i> <strong> MK官方旗舰店--北京朝阳区 </strong> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testi-wrap">
                                    <div class="testi-img">
                                        <a href="javascript:void(0);"> <img src="__PUBLIC__/Home/img/extra/organic-4.png" alt="" /> </a>
                                    </div>
                                    <div class="testi-caption">
                                        <p> <i>“雅诗兰黛倾情巨献，折扣立减，小黑瓶8折优惠.”</i> </p>
                                        <a href="javascript:void(0);"> <i class="fa fa-user clr-txt"></i> <strong> MK官方旗舰店--天门市 </strong> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonials Ends -->

            <!-- latest news Starts-->
            <section class="sec-space">
                <div class="container"> 
                    <div class="title-wrap">
                        <h4 class="sub-title"> lingjiuyi Manual workshop BLOG </h4>
                        <h2 class="section-title"> <span class="light-font">lingjiuyi  </span> <strong>最新消息 </strong> </h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="latest-news">
                                <div class="news-img">
                                    <img src="__PUBLIC__/Home/img/blog/blog-sm-1.jpg" alt="" />
                                </div>
                                <div class="news-caption">
                                    <h4 class="sub-title-sm"> 2017-12-12 </h4>
                                    <h2 class="title-2"> <a href="javascript:void(0);"> <span class="light-font">5 best foods to make you </span> <strong>新鲜 & 健康</strong> </a> </h2>
                                    <span class="divider-1"></span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
                                    <a href="javascript:void(0);" class="fsz-12"> READ ARTICLE <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="latest-news">
                                <div class="news-img">
                                    <img src="__PUBLIC__/Home/img/blog/blog-sm-2.jpg" alt="" />
                                </div>
                                <div class="news-caption">
                                    <h4 class="sub-title-sm"> 2017-11-11 </h4>
                                    <h2 class="title-2"> <a href="javascript:void(0);"> <span class="light-font">5 best foods to make you </span> <strong>fresh & healthy</strong> </a> </h2>
                                    <span class="divider-1"></span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
                                    <a href="javascript:void(0);" class="fsz-12"> READ ARTICLE <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- latest news Ends -->

            <!-- / CONTENT AREA -->

            <!-- FOOTER -->
            <include file="Common/footer"/>
            <!-- /FOOTER -->
            <div id="to-top-mb" class="to-top mb"> <i class="fa fa-arrow-circle-o-up"></i> </div>
        </main>
        <!-- /WRAPPER -->


        <include file="Common/product"/>
        <!-- Subscribe Popup-Dark -->
        <div id="subscribe-popups_div" style="display: none;">
        <section id="subscribe-popups" class="subscribe-me popups-wrap" >
            <div class="modal-content">
                <button type="button" class="sb-close-btn close popup-cls"> <i class="fa-times fa clr-txt"></i> </button>
                <div class="subscribe-wrap">
                    <div class="main-logo">
                        <a href="index.html"> <strong>零玖一 <img src="__PUBLIC__/Home/img/icons/logo-icon.png" alt="" /> </strong> <span class="light-font">手工作坊</span>  </a>
                    </div>

                    <div class="title-wrap">
                        <h2 class="section-title"> <strong>订阅时事通讯</strong> </h2>
                        <h4 class="fsz-12"> 加入我们的时事通讯，免费获取最新新闻周刊 </h4>
                    </div>

                    <form class="newsletter-form">
                        <div class="form-group">
                            <input class="form-control" placeholder="your email address" name="email_address" required="" type="text">
                        </div>
                        <div class="form-group">
                            <button class="theme-btn upper-text subscribe" type="button"> <strong> 订阅 </strong> </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        </div>
        <!-- / Subscribe Popup-Dark -->

        <!-- JS Global -->
        <script src="__PUBLIC__/Home/js/plugin/jquery-2.2.4.min.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/bootstrap.min.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/bootstrap-select.min.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/owl.carousel.min.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/jquery.plugin.min.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/jquery.countdown.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/jquery.subscribe-better.min.js"></script>

        <!--自定义js-->
        <script src="__PUBLIC__/Home/js/index.js"  charset="utf-8"></script>

        <!-- Custom JS -->
        <script src="__PUBLIC__/Home/js/theme.js"></script>

        <script src="__PUBLIC__/Plugins/layer/layer.min.js"></script>

    </body>
</html>

