<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>search</title>

        <!-- Font Icon -->
        <link href="__PUBLIC__/Home/css/plugin/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- CSS Global -->
        <link href="__PUBLIC__/Home/css/plugin/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/Home/css/plugin/bootstrap-select.min.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/Home/css/plugin/owl.carousel.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/Home/css/plugin/animate.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/Home/css/plugin/jquery-ui.min.css" rel="stylesheet" type="text/css">

        <!-- Custom CSS -->
        <link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css">

        <!-- Color CSS -->

        <!--[if lt IE 9]>
        <script src="__PUBLIC__/Home/js/plugin/html5shiv.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/respond.js"></script>
        <![endif]-->
    </head>

    <body id="home" class="wide">


        <!-- WRAPPER -->
        <main class="wrapper"> 
            <!-- CONTENT AREA -->

            <!-- Main Header Start -->
            <header class="main-header white-bg">
                <include file="Common/header" />
            </header>
            <!-- / Main Header Ends -->   

            <!--Breadcrumb Section Start-->
            <section class="breadcrumb-bg">                
                <div class="theme-container container ">                       
                    <div class="site-breadcumb white-clr">                        
                        <h2 class="section-title"> <strong class="clr-txt">naturix </strong> <span class="light-font">Shop </span> </h2>
                        <ol class="breadcrumb breadcrumb-menubar">
                            <li> <a href="#"> 主页 </a> 商品列表  </li>
                        </ol>
                    </div>  
                </div>
            </section>
            <!--Breadcrumb Section End-->


            <!-- Shop Starts-->
            <section class="shop-wrap sec-space-bottom">
                <div class="pattern"> 
                    <img alt="" src="__PUBLIC__/Home/img/icons/white-pattern.png">
                </div>

                <div class="container rel-div">
                    <div class="row sort-bar">
                        <div class="icon"> <img alt="" src="__PUBLIC__/Home/img/logo/logo-2.png" /> </div>
                        <div class="col-lg-6">
                            <div class="sort-dropdown left">
                                <span>分类</span>
                                <div class="search-selectpicker selectpicker-wrapper">
                                    <select class="selectpicker input-price" id="cates"  data-width="100%"
                                            data-toggle="tooltip">
                                        <option value="0">请选择</option>
                                        <volist name="cate" id="val">
                                        <option value="{$val.ci}">{$val.cn}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="sort-dropdown">
                                <span>排序</span>
                                <div class="search-selectpicker selectpicker-wrapper">
                                    <select class="selectpicker input-price" id="sorts"  data-width="100%"
                                            data-toggle="tooltip">
                                        <option value="0">请选择</option>
                                        <option value="a">销量</option>
                                        <option value="b">浏览数</option>
                                        <option value="c">评论数</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 right">
                            <div class="sort-dropdown">
                                <span>价格排序</span>
                                <div class="search-selectpicker selectpicker-wrapper">
                                    <select class="selectpicker input-price" id="prices"  data-width="100%"
                                            data-toggle="tooltip">
                                        <option value="0">请选择</option>
                                        <option value="ltoh"> 由低到高 </option>
                                        <option value="htol"> 由高到低 </option>
                                    </select>
                                </div>
                            </div>
                            <div class="sort-range">
                                <span>价格区间</span> <div id="price-range"></div>
                            </div>
                        </div>
                    </div> 

                    <div class="divider-full-1"></div>

                    <div class="result-bar block-inline">
                        <h4 class="result-txt">search result <b> 0 </b> </h4>
                        <ul class="view-tabs">
                            <li class="active">
                                <a href="#grid-view" data-toggle="tab">                                                    
                                    <i class="fa fa-th"></i>
                                </a>
                            </li>
                            <!--
                            <li class="">
                                <a href="#list-view" data-toggle="tab">
                                    <i class="fa fa-th-list"></i>
                                </a>
                            </li>
                            -->
                        </ul>
                    </div>

                    <div class="tab-content shop-content">
                        <div id="grid-view" class="tab-pane fade active in" role="tabpanel">
                            <div class="row" id="listA">
                            </div>

                            <div class="rel-div pt-50">
                                <div class="divider-full-1"></div>
                                <div class="nav-page">
                                    <a href="javascript:void(0);" class="fa fa-long-arrow-left left"></a>
                                    <a href="javascript:void(0);" class="fa fa-long-arrow-right right" ></a>
                                </div>
                            </div>                            

                            <div class="pagination-wrap">
                                <ul class="pagintn">
                                </ul>
                            </div>
                        </div>

                        <!--暂时不需要这个-->
                        <!--
                        <div id="list-view" class="tab-pane fade" role="tabpanel">
                            <div class="row"> 
                                <div class="col-md-6 col-sm-12"> 
                                    <div class="deal-item list-view">
                                        <div class="deal-icons">                                         
                                            <a href="#" class="fa fa-heart"></a>
                                            <a href="#" class="fa fa-shopping-basket"></a>
                                            <a href="#product-preview" data-toggle="modal" class="fa fa-expand"></a>                                      
                                        </div>
                                        <div class="deal-content">
                                            <div class="text-right">
                                                <span class="prod-tag tag-1">new</span> <span class="prod-tag tag-2">sale</span>
                                            </div>
                                            <div class="deal-text">
                                                <h4 class="sub-title"> ORGANIC FRUITS </h4>
                                                <h2 class="fsz-30 pb-15"> <a href="#"> <span class="light-font">fresh </span> <strong>rasberry </strong> </a> </h2>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
                                                <div class="price pt-15"> 
                                                    <strong class="clr-txt">$50.00 </strong> <del class="light-font">$65.00 </del>
                                                </div>
                                            </div>
                                            <div class="img"> <img alt="" src="__PUBLIC__/Home/img/extra/deal-1.png"> </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="rel-div pt-50">
                                <div class="divider-full-1"></div>
                                <div class="nav-page">
                                    <a href="#" class="fa fa-long-arrow-left left"></a> 
                                    <a href="#" class="fa fa-long-arrow-right right"></a> 
                                </div>
                            </div>

                            <div class="pagination-wrap">
                                <ul class="pagintn">                                  
                                    <li><a href="#">01</a></li>
                                    <li><a href="#">02</a></li>
                                    <li><a href="#">03</a></li>
                                    <li><a href="#">04</a></li>
                                    <li><a href="#">05</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">15</a></li>                                    
                                </ul>
                            </div>
                        </div>
                        -->
                        <!--暂时不需要这个-->
                    </div>
                </div>
            </section>
            <!-- / Shop Ends -->      

            <!-- / CONTENT AREA -->

            <!-- FOOTER -->
            <include file="Common/footer" />
            <!-- /FOOTER -->

            <div id="to-top-mb" class="to-top mb"> <i class="fa fa-arrow-circle-o-up"></i> </div>
            
        </main>
        <include file="Common/product"/>
        <!-- /WRAPPER -->

        <!-- JS Global -->
        <script src="__PUBLIC__/Home/js/plugin/jquery-2.2.4.min.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/bootstrap.min.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/bootstrap-select.min.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/owl.carousel.min.js"></script>
        <script src="__PUBLIC__/Home/js/plugin/jquery-ui.min.js"></script>

        <!-- Custom JS -->
        <script src="__PUBLIC__/Home/js/theme.js"></script>
        <!--自定义js-->
        <script src="__PUBLIC__/Home/js/search.js"></script>
        <script src="__PUBLIC__/Home/js/index.js"></script>

        <script src="__PUBLIC__/Plugins/layer/layer.min.js"></script>


    </body>
</html>

