<include file="Common/header" />
<style>
    .newone{
        border-top:2px solid rgb(24, 166, 137);
        border-left:2px solid rgb(24, 166, 137);
        border-right:2px solid rgb(24, 166, 137);
    }
    .newtwo{
        -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
        border-color: rgb(58, 179, 160);
        -webkit-box-shadow:0 0 18px rgb(24, 166, 137);
        /*border-bottom:2px solid rgb(24, 166, 137);*/
        /*border-left:2px solid rgb(24, 166, 137);*/
        /*border-right:2px solid rgb(24, 166, 137);*/
    }
    .form-control{
        text-align: center;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>商品 <small>属性列表 &emsp;<a href='__CONTROLLER__/add' class="btn btn-default btn-xs">添加</a></small></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3 m-b-xs">
                            商品类型&emsp;
                            <select class="input-sm  input-s-sm inline" name="cate_id">
                                <option value=''>请选择</option>
                                <volist name="cate" id="vol">
                                    <option value="{$vol.id}">{$vol.cate_name}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="col-sm-3 m-b-xs">
                            属性类型&emsp;
                            <select class="input-sm  input-s-sm inline" name="attr_type">
                                <option value=''>请选择</option>
                                <option value="0">唯一属性</option>
                                <option value="1">单选属性</option>
                                <option value="2">复选属性</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            录入方式&emsp;
                            <select class="input-sm  input-s-sm inline" name="attr_input_type">
                                <option value=''>请选择</option>
                                <option value="0">输入框</option>
                                <option value="2">多选框</option>
                                <option value="1">下拉列表</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 m-b-xs">
                            <div class="input-group">
                                编号&emsp;<input type="text" name="attr_id" placeholder="请输入编号" class="input-sm">
                            </div>
                        </div>
                        <div class="col-sm-3 m-b-xs">
                            <div class="input-group">
                                属性名称&emsp;<input type="text" name="attr_name" placeholder="请输入属性名称" class="input-sm">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                可选值&emsp;<input type="text" name="attr_values" placeholder="请输入可选值" class="input-sm">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <span class="input-group-btn">
                                <button id="search" type="button" class="btn btn-sm btn-primary"> 搜索</button>
                            </span>
                        </div>
                    </div>

                    <div style="height: 20px;" id="biaoshi"></div>
                    <table class="table dataTables-example" style="text-align: center;border-collapse:collapse;">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>商品类型</th>
                            <th>属性名称</th>
                            <th>属性类型</th>
                            <th>录入方式</th>
                            <th>可选值</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 全局js -->
<script src="/Public/Admin/js/jquery.min.js?v=2.1.4"></script>
<script src="/Public/Admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/Public/Plugins/jeditable/jquery.jeditable.js"></script>

<!-- Data Tables -->
<script src="/Public/Plugins/dataTables/jquery.dataTables.js"></script>
<script src="/Public/Plugins/dataTables/dataTables.bootstrap.js"></script>

<!-- 自定义js -->
<script src="/Public/Admin/js/content.js?v=1.0.0"></script>
<script>
    $(document).ready(function () {
        //初始化表格数据
        init();
    });

    $('#search').click(function(){

        var attr_id         = $('input[name=attr_id]').val();
        var attr_name       = $('input[name=attr_name]').val();
        var attr_values     = $('input[name=attr_values]').val();
        var cate_id         = $("select[name=cate_id]").val();
        var attr_input_type = $("select[name=attr_input_type]").val();
        var attr_type       = $("select[name=attr_type]").val();

        if(attr_id == '' && attr_name == '' && attr_values == '' && cate_id == '' && attr_input_type == '' && attr_type == ''){
            return false;
        }else{

            var data = {attr_id:attr_id,attr_name:attr_name,attr_values:attr_values,cate_id:cate_id,attr_input_type:attr_input_type,attr_type:attr_type};
            $('#DataTables_Table_1_wrapper').remove();
            $('#DataTables_Table_0_wrapper').remove();
            var html = '<table class="table dataTables-example" style="text-align: center;border-collapse:collapse;">'+
                    '<thead>'+
                    '<tr>'+
                    '<th>编号</th>'+
                    '<th>商品类型</th>'+
                    '<th>属性名称</th>'+
                    '<th>属性类型</th>'+
                    '<th>录入方式</th>'+
                    '<th>可选值</th>'+
                    '<th>操作</th>'+
                    '</tr>'+
                    '</thead>'+
                    '</table>';
            $('#biaoshi').after(html);
            init(data);

        }

    });

    function init(data){
        $('.dataTables-example').dataTable({
            "order": [[ 1, "asc" ]], //默认排序
            "ajax": {
                "url" : '__CONTROLLER__/lst',
                "data" : data
            },
            "serverSide" : true,// 服务器端分页处理
            searching: false,//是否显示搜索框
            "columns": [
                { "data": "attr_id" },
                { "data": "cate_name" },
                { "data": "attr_name" },
                { "data": "attr_type" },
                { "data": "attr_input_type" },
                { "data": "attr_values" },
                { "data": null}
            ],
            "columnDefs": [
                {
                    "bSortable": false,//禁止排序
                    "targets":-1,
                    "render":function(data,type,row,meta) {
                        var id = row.attr_id;
                        var html = '';
                        html += "&nbsp;<a href='javascript:void(0);' onclick='editAttribute(this,"+ id + ")' class='up btn btn-default btn-xs'><i class='fa fa-arrow-up'></i>编辑</a>";
                        html += "&nbsp;<a href='javascript:void(0);' onclick='delAttribute("+ id + ")' class='down btn btn-default btn-xs'><i class='fa fa-arrow-down'></i>删除</a>";
                        return html;
                    }
                },
                {
                    "targets":3,
                    "render":function(data,type,row,meta) {
                        var attr_type = row.attr_type;
                        var html = '';
                        if(attr_type == 0){
                            html = '唯一属性';
                        }else if(attr_type == 1){
                            html = '单选属性';
                        }else{
                            html = '复选属性';
                        }
                        return html;
                    }
                },
                {
                    "targets":4,
                    "render":function(data,type,row,meta) {
                        var attr_input_type = row.attr_input_type;
                        var html = '';
                        if(attr_input_type == 0){
                            html = '输入框';
                        }else if(attr_input_type == 1){
                            html = '下拉列表';
                        }else{
                            html = '多选框';
                        }
                        return html;
                    }
                }
            ]
        });
    }

    //修改
    function editAttribute(now,id){
        if($('#main').length >= 1){
            $('#main').remove();//移除上一个动态添加的main
            $('tr').removeClass('newone');//移除所有的tr上的新样式
            if(localStorage.id == id){
                return false;
            }else{
                localStorage.id = id;
            }
        }
        localStorage.id = id;

        $(now).closest('tr').attr('style','display:none');
        var html = '<tr class="odd" id="main">';
        $(now).closest('tr').each(function(i){                   // 遍历 tr
            $(this).children('td').each(function(j){  // 遍历 tr 的各个 td

                if(j+1 == 3){
                    html += '<td><input type="text" id="attr_name" class="form-control" style="width: 120px;" value="'+$(this).text()+'"></td>';
                }else if(j+1 == 4){
                    html += '<td class="sorting_1">'+
                            '<select class="form-control" id="attr_type">'+
                            '<option value="0"';
                    if($(this).text() == '唯一属性'){
                        html += 'selected';
                    }
                    html += '>唯一属性</option>'+
                            '<option value="1"';
                    if($(this).text() == '单选属性'){
                        html += 'selected';
                    }
                    html += '>单选属性</option>'+
                            '<option value="2"';
                    if($(this).text() == '复选属性'){
                        html += 'selected';
                    }
                    html += '>复选属性</option>'+
                            '</select>'+
                            '</td>';
                }else if(j+1 == 5){
                    html += '<td class="sorting_1">'+
                            '<select class="form-control" id="attr_input_type">'+
                            '<option value="0"';
                    if($(this).text() == '输入框'){
                        html += 'selected';
                    }
                    html += '>输入框</option>'+
                            '<option value="1"';
                    if($(this).text() == '下拉列表'){
                        html += 'selected';
                    }
                    html += '>下拉列表</option>'+
                            '<option value="2"';
                    if($(this).text() == '多选框'){
                        html += 'selected';
                    }
                    html += '>多选框</option>'+
                            '</select>'+
                            '</td>';
                }else if(j+1 == 6){
                    html += '<td class="sorting_1"><input type="text" id="attr_values" class="form-control" style="width: 300px;" value="'+$(this).text()+'"></td>';
                }else if(j+1 == 7){
                    html += '<td class="sorting_1"><button class="btn btn-white btn-xs" type="submit">保存</button>&emsp;<button class="btn bt-info btn-xs" type="submit">取消</button></td>';
                }else{
                    html += '<td class="sorting_1">' + $(this).text() + '</td>';
                }

                //console.log("第"+(i+1)+"行，第"+(j+1)+"个td的值："+$(this).text()+"。");
            });
        });
        html += '</tr>';
        $(now).closest('tr').after(html);
        //$(now).closest('tr').addClass('newone');
        $('#main').addClass('newtwo');
        //保存
        $(document).on('click','.btn-white',function(){
            var id = $(this).closest('tr').children('td').eq(0).text();
            var attr_name  = $('#attr_name').val();
            var attr_type  = $('#attr_type option:selected').val();
            var attr_input_type = $('#attr_input_type option:selected').val();
            var attr_values = $('#attr_values').val();
            //console.log(id + '---' +attr_name + '---'+attr_type+'---'+attr_input_type+'---'+attr_values);
            $.ajax({
                type : 'post',
                url  : '__CONTROLLER__/edit',
                data : {id:id,attr_name:attr_name,attr_type:attr_type,attr_input_type:attr_input_type,attr_values:attr_values},
                dataType : 'json',
                success  : function(data){
                    if(data.code == 10000){
                        parent.layer.msg('修改成功');
                        self.location.reload();
                    }else{
                        parent.layer.msg(data.msg);
                        return false;
                    }
                }

            });
        });
        $(document).on('click','.bt-info',function(){
            $('tr').removeClass('newone');//移除所有的tr上的新样式
            $(this).closest('tr').prev('tr').attr('style','display:show;');
            $(this).closest('tr').remove();
        });
    }
    //删除
    function delAttribute(id){
        parent.layer.confirm('确定要删除？', {
            btn: ['没错','算了吧'], //按钮
            shade: false //不显示遮罩
        }, function(){
            $.ajax({
                type : 'get',
                url  : '__CONTROLLER__/del/id/' + id,
                dataType : 'json',
                success  : function(data){
                    if(data.code == 10000){
                        parent.layer.msg('删除成功！你会后悔的！', {icon: 1});
                        self.location.reload();
                    }else{
                        parent.layer.msg(data.msg, {shift: 6});
                    }
                },
                error : function(){
                    parent.layer.msg('服务器出错了！', {shift: 6});
                }
            });
        }, function(){
            parent.layer.msg('不删就不删', {shift: 6});
        });
    }
</script>
</body>
</html>