
<style>
    #wrapper{height:95%;}
</style>

<div class="content clearfix"  id="wrapper">
    <div class="listwrap clearfix iclist">
    </div>
</div>
<script>
$(function(){

    var gotpage=1;
    var sort='sales';
    var sort_order='desc';
    var keywords='';
    var url='__CONTROLLER__/ajaxindex';
    var tehui='';
    var header='<div class="container-fluid oh">'+
            '<div class="row cate-search pl0 pr0 pb0 bm mb10">'+
            '<div class="col-xs-2"><a href="Javascript:history.go(-1)" class="back"></a> </div>'+
            '<div class="input-box col-xs-8"><input type="text" name="keywords" placeholder="关键词搜索" value=""/></div>'+
            '<div class="input-btn txt col-xs-2 tc"><input type="button" value="搜索"></div>'+
            '<div class="col-xs-3 order-btn"><a  class="ac">综合</a></div>'+
            '<div class="col-xs-3 order-btn"><a>销量<i class="sort"></i></a></div>'+
            '<div class="col-xs-3 order-btn"><a>价格<i class="sort"></i></a></div>'+
            '<div class="col-xs-3 order-btn"><a>最新 <i class="sort"></i></a></div>'+
            '</div>'
    '</div>'
    Refresh();
    refresher.init({
        id: "wrapper",
        pullDownAction: Refresh,
        pullUpAction: Load
    });
    function Load(){
        $.ajax({
            type: 'GET',
            url:url,
            dataType: 'json',
            data : {p:gotpage,sort:sort,sort_order:sort_order},
            success: function(data){
                gotpage++;
                ajax(data,true);
                $('.pullUp').css('margin-bottom','50px')
                if(data.code==1){
                    $('.pullUpLabel').html('到底了');
                    $('.checklast:last').attr('none',true);
                }else{
                    $('.pullUpLabel').html('查看更多');
                }
            },
            error: function(xhr, type){
                // 即使加载出错，也得重置
            }
        });
    }
    function Refresh() {
        gotpage = 1;
        $.ajax({
            type: 'GET',
            url:url,
            dataType: 'json',
            data : {p:'1',sort:sort,sort_order:sort_order},
            success: function(data){
                gotpage++;
                ajax(data,false);
                $('.scroller').css('transform','translate(0px,5px)');
            },
            error: function(xhr, type){
                // 即使加载出错，也得重置
            }
        });
    };
    function ajax(data,load){
        //特惠商品填充
        if(data.code == 10000){
            var tehui='';
            for(var i=0;i<data.info.goodslist.length;i++){
                tehui+='<div class="col-xs-6 goods mleft" style="width:45%">'+
                        ' <a  gid="'+data.info.goodslist[i].goods_id+'">'+
                        ' <div class="img cut-img" style="position:relative;">'+
                        ' <img src="'+data.info.goodslist[i].goods_small_img+'"/>'+
                        ' </div>'+
                        ' <span class="title">'+data.info.goodslist[i].goods_name+'</span>'+
                        '<p class="zprice clearfix">'+
                        '<font color="#ccc" class="col-xs-6">'+data.info.goodslist[i].goods_sn+'</font> <span class="price col-xs-6">￥'+data.info.goodslist[i].goods_price+'</span><br>'+
                        ' </p>'+
                        ' </a>'+
                        '</div>';
            }

            if(load == true){
                $('.listwrap').append(tehui);
            }else{
                $('.listwrap').html(tehui);
            }
            wrapper.refresh();
        }else{

        }
    }

    //插入除特惠外的其他
    $('.listwrap').before(header);//插入排序
    $(document).on('click','.tc',function(){
        keywords=$('input[name="keywords"]').val();
        if(keywords==''){
        }else{
            url='__CONTROLLER__/ajaxindex?keywords='+keywords;
            Refresh();
        }
    });

    //排序
    $(document).on('click','.order-btn a',function(){
        var $this=$(this);
        $('.order-btn a').removeClass('ac');
        $this.addClass('ac');
        var $index=$this.parent('.order-btn').index();
        if($index==3){
            sort='sales';
            sort_order='desc';
            Refresh();
        }else if($index==4){
            if( $this.find('i').hasClass('asc')){
                $this.find('i').removeClass('asc').addClass('desc');
                sort='sales';
                sort_order='desc';
                Refresh();
            }else{
                $this.find('i').removeClass('desc').addClass('asc');
                sort='sales';
                sort_order='desc';
                Refresh();
            }
        }else if($index==5){
            if( $this.find('i').hasClass('asc')){
                $this.find('i').removeClass('asc').addClass('desc');
                sort='price';
                sort_order='asc';
                Refresh();
            }else{
                $this.find('i').removeClass('desc').addClass('asc');
                sort='price';
                sort_order='desc';
                Refresh();
            }
        }else{
            if( $this.find('i').hasClass('asc')){
                $this.find('i').removeClass('asc').addClass('desc');
                sort='add_time';
                sort_order='asc';
                Refresh();
            }else{
                $this.find('i').removeClass('desc').addClass('asc');
                sort='add_time';
                sort_order='desc';
                Refresh();
            }
        }
    })
    $(document).on('click','.goods a', function(){
        var gid = $(this).attr('gid');
        location.href='__CONTROLLER__/detail/gid/' + gid;
    })
})
</script>
