<include file="Common/header" />
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>基本 <small>分类，查找</small></h5>
        </div>
        <div class="ibox-content">
          <table class="table dataTables-example">
            <thead>
              <tr>
                <th>编号</th>
                <th>标题</th>
                <th>缩略图</th>
                <th>链接地址</th>
                <th>排序编号</th>
                <th>添加时间</th>
                <th>操作</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 全局js --> 
<script src="/Public/Admin/js/jquery.min.js?v=2.1.4"></script> 
<script src="/Public/Admin/js/bootstrap.min.js?v=3.3.6"></script> 
<script src="/Public/Plugins/jeditable/jquery.jeditable.js"></script> 

<!-- Data Tables --> 
<script src="/Public/Plugins/dataTables/jquery.dataTables.js"></script> 
<script src="/Public/Plugins/dataTables/dataTables.bootstrap.js"></script> 

<!-- 自定义js --> 
<script src="/Public/Admin/js/content.js?v=1.0.0"></script> 

<!-- Page-Level Scripts --> 
<script>
	$(document).ready(function () {
		$('.dataTables-example').dataTable({
			"ajax": "{:U('Hot/lst')}",
			"columns": [
				{ "data": "id" },
				{ "data": "title" },
				{ "data": "thumb" },
				{ "data": "link" },
        { "data": "listorder"},
				{ "data": "addtime"},
				{ "data": null}
			],
			"columnDefs": [
				{
					"targets":-1,
					"render":function(data,type,row,meta) {
						var id = row.id;
						var html = '';
						html += "&nbsp;<a href='javascript:void(0);' onclick='editArticle("+ id + ")' class='up btn btn-default btn-xs'><i class='fa fa-arrow-up'></i>编辑</a>";
						html += "&nbsp;<a href='javascript:void(0);' onclick='delArticle("+ id + ")' class='down btn btn-default btn-xs'><i class='fa fa-arrow-down'></i>删除</a>";
						return html;
					}
				},
                {
                    "targets":2,
                    "render":function(data,type,row,meta) {
                       var html = '';
                       html += '<img src="/Uploads/images/'+row.small+'" />';
                       return html;
                    }
                }
			]
		});
	});
</script>
<script>
        function editArticle(id) {
            alert(id);
        }
        function delArticle(id) {
            alert(id);
        }
    </script>
</body>
</html>
