<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/H5/css/style/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/H5/css/style/swiper-3.3.1.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/H5/css/style/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/H5/css/style/style.css" />
    <title>吉洛优品</title>
</head>
<body class="bg-f3 pb60 user_aboutus_page ">
<div class='container-fluid mb60 mt-44'>
    <div class="row global-top">
        <div class="col-xs-2">
            <a class="return" href="Javascript:history.go(-1)"></a>
        </div>
        <div class="col-xs-8">
            <div class="text">关于我们</div>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
		<div class="col-xs-12 tc mt50">
            <img src="__PUBLIC__/H5/css/images/logo.png" class="pc-20"/>
        </div>
        <div class="col-xs-12">
            <div style="width:95%;display:block;margin:15px auto;padding:10px;line-height:25px;border:1px solid #ddd;border-radius:5px;background:#fff;">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京吉洛优品商贸有限公司创始于2011年，并于2014年搭建成汇聚全球顶尖品牌的资本驱动型电商平台。开创“消费+金融+娱乐”为一体的全新消费模式，提供更全面的正品品牌选择，专业的推广支持及更完善的售后服务。力求打造强大的公信力，高效推动产品销量。<br />
            </div>
        </div>
    </div>
	<div class="tc pf b0 l0 r0 bgwhite" style="border-top:1px solid #c6c6c6">
		<p class="mb5 mt10">北京吉洛优品发展有限公司</p>
		<p class="mb10">© 2016 V-TOWN,All Rights Reserved.京ICP证160762号</p>
	</div>
</div>
</body>
</html>