<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>零玖一</title>
    <link href="__PUBLIC__/H5/css/style/swiper-3.3.1.min.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/H5/css/style/style.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/H5/css/style/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/H5/css/style/base.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/H5/css/layer.css" type="text/css" rel="stylesheet"/>

    <script src="__PUBLIC__/H5/js/base/layer.js" type="text/javascript"></script>
    <script src="__PUBLIC__/H5/js/base/jquery.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/H5/js/base/swiper.js" type="text/javascript"></script>
    <script src="__PUBLIC__/H5/js/base/iscroll.js" type="text/javascript"></script>
    <script src="__PUBLIC__/H5/js/base/pullToRefresh.mini.js" type="text/javascript"></script>
<body class="bg-f3 pb60 user_aboutus_page ">
<style type="text/css">
.score-input{width:80px;margin:0 5px;text-align:center;border:1px solid #e7e7e7;border-radius:4px;line-height:18px;padding:5px 0;}
</style>
<div class="container">
	<div class="row global-top">
        <div class="col-xs-2">
            <a class="return" href="Javascript:history.go(-1)"></a>
        </div>
        <div class="col-xs-8">
            <div class="text">我的邀请码</div>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>
<div class="container">
	<div class="row mt50 bgwhite">
		<div class="col-xs-12">
			<img src="" width="100%" alt="暂无图片">
		</div>
    </div>
</div>
<div class="row mt20">
    <div class="global-submit-bot1">

        <input type="text"   id="userlink" value=""><br>
        
        <input type="submit" onClick="copyUrl2()" value="点击复制上方您的专属推广链接"  class="btnok js-submit-btn"/>
    </div>
</div>
<script>
    $(function(){
        $.ajax({
            type: 'GET',
            url: '__CONTROLLER__/ajax_erweima',
            cache: true,
            dataType: 'json',
            success: function(data){
                if(data.code = 10000){
                    $('img').attr('src',data.info.img);
                    $('#userlink').attr('value',data.info.url);
                }
            }
        });




    });

    function copyUrl2()
    {
        var Url2=document.getElementById("userlink");
        Url2.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        layer.open({
            content: '已复制好，可贴粘'
            ,skin: 'msg'
            ,time: 2 //2秒后自动关闭
        });
    }
</script>
</body>
</html>
