<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/H5/css/style/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/H5/css/style/swiper-3.3.1.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/H5/css/style/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/H5/css/style/style.css" />
    <title>吉洛优品</title>
</head>
<body class="bg-f3 pb60 user_explain_page ">
<style type="text/css">
	body{background-color:#92d2a7 !important;}
	.global-top{background-color: #92d2a7;}
</style>
<div class='container-fluid mb60 mt-44'>
    <div class="row global-top">
        <div class="col-xs-2">
            <a class="return" href="Javascript:history.go(-1)"></a>
        </div>
        <div class="col-xs-8">
            <div class="text">玩法说明</div>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 tc" style="margin-top:44px">
            <img src="__PUBLIC__/H5/css/images/explain.jpg" class="pc-100"/>
        </div>
    </div>
</div>
</body>
</html>