
    <script src="../js/base/resize.js" type="text/javascript"></script>
    <script src="../js/orderA.js" type="text/javascript"></script>
    <title>吉洛优品</title>
</head>
<body class="bg-f3 pb60 order_act_list_index_page ">
<div class='container-fluid mt40 mb10'>
    <div class="row global-top">
        <div class="col-xs-2">
            <a href="Javascript:history.go(-1)" class="return"></a>
        </div>
        <div class="col-xs-8">
            <div class="text"><center>活动订单</center></div>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
    <div class="row white-bg b-b goods-class">
        <div class="col-xs-6 activeOrder">
            <a href="/order_act_list/index.html?status=1"
               class="" >活动中</a>
        </div>
        <div class="col-xs-6 activeOrder" style="border-left:1px solid #f1eef5;">
            <a  href="/order_act_list/index.html?status=2"
               class="">待处理</a>
        </div>
    </div>
</div>
<div id="J_waterfall" class="container row order-info" data-uri="/order_act_list/index.html?">
</div>

