<include file="Common/header" />
<style>
  @font-face
  {
    font-family: myFirstFont;
    src: url(__PUBLIC__/Admin/fonts/DS-DIGI.TTF);
  }

</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>操作系统信息</h5>
        </div>
        <div class="ibox-content">
          <table class="table table-striped table-bordered table-hover dataTables-example">
            <tbody>
              <tr class="gradeX">
                <td width='20%'>系统版本</td>
                <td>V1.0</td>
              </tr>
              <tr class="gradeX">
                <td>操作系统</td>
                <td>{$os}</td>
              </tr>
              <tr class="gradeX">
                <td>PHP版本</td>
                <td>{$version}</td>
              </tr>
              <tr class="gradeX">
                <td>运行方式</td>
                <td>{$sapi}</td>
              </tr>
              <tr class="gradeX">
                <td>数据库</td>
                <td>{$mysql}</td>
              </tr>
              <tr class="gradeX">
                <td>ThinkPHP版本</td>
                <td>{$tp}</td>
              </tr>
              <tr class="gradeX">
                <td>最大上传附件</td>
                <td>{$uploadmax}</td>
              </tr>
              <tr class="gradeX">
                <td>技术支持</td>
                <td>零玖一官方网站</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="padding: 10px;"></div>
        <div class="ibox-title">
          <h5>图表可视化</h5>
        </div>
        <div class="ibox-content">

        </div>
      </div>
    </div>
  </div>
</div>
<!-- 全局js --> 
<script src="/Public/Admin/js/jquery.min.js?v=2.1.4"></script> 
<script src="/Public/Admin/js/bootstrap.min.js?v=3.3.6"></script> 
<script src="/Public/Plugins/jeditable/jquery.jeditable.js"></script> 

<!-- Data Tables --> 
<script src="/Public/Plugins/dataTables/jquery.dataTables.js"></script> 
<script src="/Public/Plugins/dataTables/dataTables.bootstrap.js"></script> 

<!-- 自定义js --> 
<script src="/Public/Admin/js/content.js?v=1.0.0"></script>

</body>
</html>
