<include file="Common/header" />
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基本
                        <small>分类，查找&emsp;
                            <a href='javascript:void(0);' id="import" class='up btn btn-default btn-xs'>导入</a>
                            <a href='javascript:void(0);' id="export" class='up btn btn-default btn-xs'>导出</a>
                        </small>
                    </h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>订单编号</th>
                            <th>订单金额</th>
                            <th>下单用户id</th>
                            <th>配送方式</th>
                            <th>支付状态</th>
                            <th>支付方式</th>
                            <th>订单状态</th>
                            <th>订单类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--发货内容-->
<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <form id="info_form" action="" method="post">
            <div class="modal-header">
                <h3 class="modal-title">发货<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);" style="float: right">×</a></h3>
            </div>
            <div class="modal-body">
                    <div class="common-form">
                        <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                            <tbody>
                            <tr>
                                <th width="100px">快递公司：</th>
                                <td>
                                    <select name="ei">
                                        <option value="0" selected>圆通快递</option>
                                        <option value="1">申通快递</option>
                                        <option value="2">韵达快递</option>
                                        <option value="3">中通快递</option>
                                        <option value="4">顺丰快递</option>
                                        <option value="5">EMS</option>
                                        <option value="6">佳佳快递</option>
                                        <option value="7">天天快递</option>
                                        <option value="8">百世快递</option>
                                        <option value="9">国通快递</option>
                                        <option value="19">优速物流</option>
                                        <option value="18">邮政小包</option>
                                        <option value="17">安能物流快递</option>
                                        <option value="16">佳吉物流</option>
                                        <option value="15">远成快运</option>
                                        <option value="14">快捷快递</option>
                                        <option value="13">德邦物流</option>
                                        <option value="12">全峰快递</option>
                                        <option value="11">宅急送</option>
                                        <option value="10">jiajia </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th width="100px">快递单号：</th>
                                <td>
                                    <input type="text" name="es" id="express_sn" class="input-text" value="" size="30">
                                    <input type="hidden" name="oi" id="order_id" class="input-text" value="" size="30">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="modal-footer">
                <button id="info_btn" class="btn btn-primary" >确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!--导出内容-->
<div id="export-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <form id="export_form" action="" method="post">
                <div class="modal-header">
                    <h3 class="modal-title">选择条件<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);" style="float: right">×</a></h3>
                </div>
                <div class="modal-body">
                    <div class="common-form">
                        <table class="table ">
                            <tbody>
                            <tr>
                                <th width="100px">编号:</th>
                                <td>
                                    <input class="input-text" name="sid" type="text" style="width: 40px;"> -
                                    <input name="eid" type="text" style="width: 40px;">
                                </td>
                            </tr>
                            <tr>
                                <th width="100px">订单金额:</th>
                                <td><input name="sprice" type="text" style="width: 40px;"> -
                                    <input name="eprice" type="text" style="width: 40px;">
                                </td>
                            </tr>
                            <tr>
                                <th width="100px">支付状态:</th>
                                <td>
                                    <input name="ps" type="checkbox" id="checkbox-1" checked>未付款
                                    <input name="ps" type="checkbox" id="checkbox-2" >已付款
                                    <input name="ps" type="checkbox" id="checkbox-3" >已取消
                                </td>
                            </tr>
                            <tr>
                                <th width="100px">支付方式:</th>
                                <td>
                                    <input name="pt" type="checkbox"  checked>银联
                                    <input name="pt" type="checkbox"  >微信
                                    <input name="pt" type="checkbox"  >支付宝
                                    <input name="pt" type="checkbox"  >余额
                                </td>
                            </tr>
                            <tr>
                                <th width="100px">订单状态:</th>
                                <td>
                                    <input name="os" type="checkbox"  checked>待付款
                                    <input name="os" type="checkbox"  >待发货/持有
                                    <input name="os" type="checkbox"  >已发货/已提货
                                    <input name="os" type="checkbox"  >已收货
                                    <input name="os" type="checkbox"  >已评价<br/>
                                    <input name="os" type="checkbox"  >取消订单
                                    <input name="os" type="checkbox"  >申请退货
                                    <input name="os" type="checkbox"  >退货成功
                                    <input name="os" type="checkbox"  >退款成功
                                    <input name="os" type="checkbox"  >解约退款
                                </td>
                            </tr>
                            <tr>
                                <th width="100px">订单类型:</th>
                                <td>
                                    <input name="ot" type="checkbox"  checked>普通订单
                                    <input name="ot" type="checkbox"  >充值订单
                                    <input name="ot" type="checkbox"  >活动订单
                                    <input name="ot" type="checkbox"  >积分订单
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="export_btn" class="btn btn-primary">确定</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 全局js -->
<script src="/Public/Admin/js/jquery.min.js?v=2.1.4"></script>
<script src="/Public/Admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/Public/Plugins/jeditable/jquery.jeditable.js"></script>

<!-- Data Tables -->
<script src="/Public/Plugins/dataTables/jquery.dataTables.js"></script>
<script src="/Public/Plugins/dataTables/dataTables.bootstrap.js"></script>

<!-- 自定义js -->
<script src="/Public/Admin/js/content.js?v=1.0.0"></script>

<!-- Page-Level Scripts -->
<script>
    $(document).ready(function () {
        $('.dataTables-example').dataTable({
            "ajax": "{:U('Order/lst')}",
            "columns": [
                { "data": "id" },
                { "data": "order_sn" },
                { "data": "order_amount" },
                { "data": "user_id" },
                { "data": "st"},
                { "data": "ps"},
                { "data": "pt"},
                { "data": "os"},
                { "data": "ot"},
                { "data": null}
            ],
            "columnDefs": [
                {
                    "targets":-1,
                    "render":function(data,type,row,meta) {
                        var id = row.id;
                        var os = row.os;
                        var html = '';
                        html += "&nbsp;<a href='javascript:void(0);' onclick='show_order(this,"+ id + ")' class='up btn btn-default btn-xs'><i class='fa fa-arrow-up'></i>查看</a>";
                        if(os == '待发货'){
                            html += "&nbsp;<a href='javascript:void(0);' id='modaldemo' class='up btn btn-default btn-xs'><i class='fa fa-arrow-up'></i>发货</a>";
                        }else if(os == '申请退货/退款中' || os == '申请退款中' || os == '退货成功'){
                            html += "&nbsp;<a href='javascript:void(0);' id='refund' class='up btn btn-default btn-xs'><i class='fa fa-arrow-up'></i>处理</a>";
                        }
                        return html;
                    }
                }
            ]
        });

    });

    //查看
    function show_order(_this,id) {
        var _this_tr = $(_this).closest('tr');
        var tag      = $(_this_tr).next('tr').find('.col-sm-12').length;
        if(sessionStorage.now == _this_tr && tag >= 1){
            //如果当前点击对象 为 上一次点击对象 并且 页面中存在详情页面  ，则移除
            $(_this_tr).next('tr').remove();
        }else{
            //否则添加
            $.ajax({
                type : 'get',
                url  : '__CONTROLLER__/detail/id' + id,
                dataType : 'json',
                success  : function(data){

                },
                error : function(){

                }
            });
            var _row_tr  =
                    '<tr>'+ '<td colspan="10">'+
                    '<div class="row"><div class="col-sm-12"><div class="ibox-content p-xl">'+

                    '<div class="row">' +
                    '<div class="col-sm-6">'+
                    '<address>'+
                    '<strong>北京百度在线网络技术有限公司</strong><br/> 北京市海淀区上地十街10号<br/> <abbr title="Phone">总机：</abbr> (+8610) 5992 8888'+
                    '</address>'+
                    '</div>'+

                    '<div class="col-sm-6 text-right">'+
                    '<h4>单据编号：</h4>'+
                    '<h4 class="text-navy">H+-000567F7-00</h4>'+
                    '<address>'+
                    '<strong>阿里巴巴集团</strong><br> 中国杭州市华星路99号东部软件园创业大厦6层(310099)<br><abbr title="Phone">总机：</abbr>+ (86) 571-8502-2088'+
                    '</address>'+
                    '<p><span><strong>日期：</strong> 2014-11-11</span></p>'+
                    '</div>'+
                    '</div>'+

                    '<div class="table-responsive m-t">'+
                    '<table class="table invoice-table">'+
                    '<thead>'+
                    '<tr><th>清单</th><th>数量</th><th>单价</th><th>税率</th><th>总价</th></tr>'+
                    '</thead>'+
                    '<tbody>'+
                    '<tr><td><div><strong>尚都比拉2013冬装新款女装</strong></div></td><td>1</td><td>¥26.00</td><td>¥1.20</td><td>¥31,98</td></tr>'+
                    '</tbody>'+
                    '</table>'+
                    '</div>'+

                    '<div class="col-sm-8"></div>'+
                    '<div class="col-sm-4 text-right">'+
                    '<strong>总价：</strong>+¥1026.00&emsp;&emsp;<strong>税：</strong>¥235.98&emsp;&emsp;<strong>总计</strong>¥1261.98&emsp;&emsp;'+
                    '<div style="padding-bottom: 10px;">'+'</div>'+
                    '</div>'+

                    '<div class="text-right">'+
                    '<button class="btn btn-primary"><i class="fa fa-dollar"></i> 发货</button>&emsp;&emsp;'+
                    '<button class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i> 打印</button>'+
                    '</div>'+
                    '</div></div></div>'+
                    '</td>'+ '</tr>';
            $(_this_tr).after(_row_tr);
            sessionStorage.now = _this_tr;
        }
        //alert(id);
    }
    //删除
    function delArticle(id) {
        alert(id);
    }
    //发货
    $(document).on('click','#modaldemo',function(){
        var value = $(this).closest('tr').find('td:first').html();
        $('#order_id').attr('value',value);
        $("#modal-demo").modal("show");
    });

    $(function(){
        //导入
        //导出
        $('#export').click(function(){
            $('#export-demo').modal("show");
        });
        $('#export_btn').click(function(){
            console.log();
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                data: {},
                success: function (data) {
                }
            });
        });



        //确定发货
        $('#info_btn').click(function(){
            var ei = $('option').attr('value');
            var oi = $('#order_id').val();
            var es = $('#express_sn').val();
console.log(ei);
console.log(oi);
console.log(es);return false;

            $.ajax({
                type :'post',
                url : '__CONTROLLER__/add_express',
                dataType : 'json',
                data:{ei:ei,oi:oi,es:es},
                success:function(data){
                    if(data.code == 10000){
                        $("#modal-demo").modal("hidden");
                        $.Huimodalalert('发货成功！',5000);
                    }else if(data.code == 10001){
                        $('.common-form').appendTo('<span>' + data.msg + '</span>');
                        return false;
                    }
                },
                error:function(){

                }

            });
        });
    });

</script>
</body>
</html>
