<include file="Common/header" />
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基本 <small>分类，查找</small></h5>
                </div>
                <div class="ibox-content">
                    <table class="table dataTables-example">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>店铺名称</th>
                            <th>置顶商铺</th>
                            <th>店铺logo</th>
                            <th>店铺简介</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 全局js -->
<script src="/Public/Admin/js/jquery.min.js"></script>
<script src="/Public/Admin/js/bootstrap.min.js"></script>
<script src="/Public/Plugins/jeditable/jquery.jeditable.js"></script>

<!-- Data Tables -->
<script src="/Public/Plugins/dataTables/jquery.dataTables.js"></script>
<script src="/Public/Plugins/dataTables/dataTables.bootstrap.js"></script>

<!-- 自定义js -->
<script src="/Public/Admin/js/content.js"></script>

<!-- Page-Level Scripts -->
<script>
    $(document).ready(function () {
        $('.dataTables-example').dataTable({
            "ajax": "{:U('Shop/lst')}",
            "columns": [
                { "data": "id" },
                { "data": "shop_name" },
                { "data": "is_top" },
                { "data": "shop_logo" },
                { "data": "shop_desc" },
                { "data": null}
            ],
            "columnDefs": [
                {
                    "targets":-1,
                    "bSortable": false,
                    "render":function(data,type,row,meta) {
                        var id = row.id;
                        var html = '';
                        html += "&nbsp;<a href='javascript:void(0);' onclick='editArticle("+ id + ")' class='up btn btn-default btn-xs'><i class='fa fa-arrow-up'></i>编辑</a>";
                        html += "&nbsp;<a href='javascript:void(0);' onclick='delArticle("+ id + ")' class='down btn btn-default btn-xs'><i class='fa fa-arrow-down'></i>删除</a>";
                        return html;
                    }
                },
                {
                    "targets":2,
                    "render":function(data,type,row,meta) {
                        var html = '';
                        if(row.is_top == 0 ){
                            html = 'NO';
                        }else if(row.is_top == 1 ){
                            html = 'YES';
                        }
                        return html;
                    }
                },
                {
                    "targets":3,
                    "bSortable": false,
                    "render":function(data,type,row,meta) {
                        var html = '';
                        if(row.shop_logo != null){
                            html += '<img src="'+row.shop_logo+'" style="width:150px;"/>';
                        }
                        return html;
                    }
                }
            ]
        });
    });
</script>
<script>
    function editArticle(id) {
        alert(id);
    }
    function delArticle(id) {
        alert(id);
    }
</script>
</body>
</html>
