<include file="Common/header" />
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基本 <small>分类，查找</small></h5>
                </div>
                <div class="ibox-content">
                    <table class="table dataTables-example" style="text-align: center;">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>商品名称</th>
                            <th>进价</th>
                            <th>售价</th>
                            <th>库存数量</th>
                            <th>商品小图</th>
                            <th>所属店铺</th>
                            <th>所属分类id</th>
                            <th>活动商品</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 全局js -->
<script src="/Public/Admin/js/jquery.min.js?v=2.1.4"></script>
<script src="/Public/Admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/Public/Plugins/jeditable/jquery.jeditable.js"></script>

<!-- Data Tables -->
<script src="/Public/Plugins/dataTables/jquery.dataTables.js"></script>
<script src="/Public/Plugins/dataTables/dataTables.bootstrap.js"></script>

<!-- 自定义js -->
<script src="/Public/Admin/js/content.js?v=1.0.0"></script>
<script src="/Public/Plugins/layer/layer.min.js"></script>

<!-- Page-Level Scripts -->
<script>
    $(document).ready(function () {
        $('.dataTables-example').dataTable({
            "ajax": "{:U('Goods/index')}",
            "columns": [
                { "data": "goods_id" },
                { "data": "goods_name" },
                { "data": "goods_bigprice" },
                { "data": "goods_price" },
                { "data": "goods_number"},
                { "data": "goods_small_img"},
                { "data": "shop_id"},
                { "data": "cate_id"},
                { "data": "is_act"},
                { "data": null}
            ],
            "columnDefs": [
                {
                    "targets":-1,
                    "render":function(data,type,row,meta) {
                        var id = row.goods_id;
                        var html = '';
                        html += "&nbsp;<a href='javascript:void(0);' onclick='editArticle("+ id + ")' class='up btn btn-default btn-xs'><i class='fa fa-arrow-up'></i>编辑</a>";
                        html += "&nbsp;<a href='javascript:void(0);' onclick='delArticle("+ id + ")' class='down btn btn-default btn-xs'><i class='fa fa-arrow-down'></i>删除</a>";
                        return html;
                    }
                },{
                    "targets":-2,
                    "render":function(data,type,row,meta) {
                        var id = row.is_act;
                        var html = '';
                        if(id == 0){
                            html += "<span style='color:#fb2424'><i class='fa fa-tag' aria-hidden='true'></i>YES</span>";
                        }else if(id == 1){
                            html += "<span>NO</span>";
                        }
                        return html;
                    }
                },
                {
                    "targets":1,
                    "render":function(data,type,row,meta) {
                        var id = row.goods_id;
                        var goods_name = row.goods_name;
                        if(goods_name.length >= 10){
                            goods_name = goods_name.slice(0,10) + '...';
                        }
                        goods_name = '<a href="__MODULE__/Goods/edit/id/' + id + '" style="color:#fb6464" title="'+row.goods_name+'">' + goods_name + '</a>';
                        return goods_name;
                    }
                },
                {
                    "targets":5,
                    "render":function(data,type,row,meta) {
                        var html = '';
                        html += '<img src="'+row.goods_small_img+'" style="width: 40px;"/>';
                        return html;
                    }
                }
            ]
        });
    });
    function editArticle(id) {
        location.href = '__MODULE__/Goods/edit/id/' + id;
    }
    function delArticle(id) {
        layer.confirm('确定删除？', {
            btn: ['确定','取消'], //按钮
            shade: false //不显示遮罩
        }, function(){
            $.ajax({
                type : 'post',
                url  : '__CONTROLLER__/del',
                data : {goods_id:id},
                dataType : 'json',
                success  : function(data){
                    parent.layer.msg(data.msg, {icon: 1});
                    if(data.code == 10000){
                        self.location.reload();
                    }else{
                        return false;
                    }
                },
                error : function(){
                    parent.layer.msg('服务器错误啦！', {shift: 6});
                }
            });

        }, function(){

        });
    }
</script>
</body>
</html>
