
<!--<link href="__PUBLIC__/H5/css/pullToRefresh.css" type="text/css" rel="stylesheet"/>-->
<style>
#wrapper{height:95%;}
.iclist{width:96%;margin:0 auto;}
</style>
<body class="graybg" style="position:static; height:100%; margin:0; background: #f5f5f5">
    <div class="content clearfix"  id="wrapper"></div>
<script>
$(function(){
    var id = {$Think.get.id};//获取当前链接中的id参数
    var p = 1;
    var sort = 'id';
    var rules = 'desc';

    $.ajax({
        type : 'get',
        url  : '/Cate/get_banner',
        data : {id:id},
        dataType : 'json',
        success  : function(data){
            var html = '';
            if(data.code == 10000){
                html += '<div class="row countdown">'+
                        '<div width="100%">'+
                        '<div class="time-box table pr">'+
                        '<img width=100%" src="' + data.info + '">'+
                        '</div>'+
                        '</div>'+
                        '</div>';
            }else{

            }
            html += '<div class="row cate-search no-pd bm mb10">'+
                    '<div class="col-xs-4 order-btn"><a class="ac">综合</a> </div>'+
                    ' <div class="col-xs-4 order-btn"><a>销量<i class="sort" data-value="sales"></i></a></div>'+
                    ' <div class="col-xs-4 order-btn"><a>价格<i class="sort" data-value="price"></i></a></div>'+
                    ' </div>';
            $('#wrapper').append(html);
        },
        error : function(xhr){

        }
    });
    get_list(id,p,sort,rules);

    function get_list(id,p,sort,rules){
        $.ajax({
            type: 'get',
            url: '/Cate/get_list',
            data: {id:id,p:p,sort:sort,rules:rules},
            dataType: 'json',
            success: function (data) {
                var html = '';
                if(p == 1){
                    $('.listwrap').empty();
                }
                if (data.code == 10000) {
                    html += '<div class="listwrap clearfix iclist">';
                    for(var i=0;i<data.info.goodslist.length;i++){
                        html += '<div class="col-xs-12 goods" style="margin:1.8% 0;">'+
                                '<a href="/Goods/detail/gid/'+ data.info.goodslist[i].goods_id+ '" class="ssc_item">'+
                                '<div class="col-xs-3 guoimg" style="margin-right:2%;">'+
                                '<img src="'+data.info.goodslist[i].goods_small_img+'"/>'+
                                '</div>'+
                                '<div class="col-xs-8 txt">'+
                                '<div class="col-xs-12">'+data.info.goodslist[i].goods_name+'</div>'+
                                '<div class="col-xs-12 activetext">中国</div>'+
                                '<div class="col-xs-12 activetext">'+
                                '<i class="newsimg"></i>'+
                                '</a>' +
                                '<a>'+data.info.goodslist[i].goods_price+'</a>' +
                                '</div>'+
                                '</div>'+
                                '</a>'+
                                '</div>'
                    }
                    html += '</div>';
                    $('#wrapper').append(html);
                }else{

                }
            },
            error: function (xhr) {
            }
        });
    }

    //排序
    $(document).on('click','.order-btn a',function(){
        var $this=$(this);
        $('.order-btn a').removeClass('ac');
        $($this).addClass('ac');
        sort = $this.find('i').attr('data-value');
        if($this.find('i').hasClass('asc')){
            $this.find('i').removeClass('asc').addClass('desc');
            rules = 'asc';
        }else{
            $this.find('i').removeClass('desc').addClass('asc');
            rules = 'desc';
        }
        get_list(id,1,sort,rules);
    });

})
</script>
