<body class="graybg" style="position:static; height:100%; margin:0; background: #f5f5f5">
<div class="content clearfix"  id="wrapper">
    <div id="scroller">
        <div id="pullDown">
            <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
        </div>
        <div id="thelist"></div>
        <div id="pullUp">
            <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多...</span>
        </div>
    </div>
</div>
</body>
<script>
    var myScroll,
            pullDownEl, pullDownOffset,
            pullUpEl, pullUpOffset,
            generatedCount = 0;

    function get_banner(){
        $.ajax({
            type: 'GET',
            url:'/Index/get_banner',
            dataType: 'json',
            success: function(data){
                if(data.code == 10000){
                    var html_swiper =    '<div class="container-fluid oh"><div class="row" style="margin-bottom:5px;">'+
                            '<div class="swiper-container" ><div class="swiper-wrapper">';
                    for(var i = 0;i < data.info.length;i++){
                        //顶部滑动banner
                        html_swiper +=  '<div class="swiper-slide">'+
                                '<a href="/Shop/index/id/' + data.info[i].id + '" class="cut-img"><img src="'+ data.info[i].shop_logo +'" width="100%"/></a>'+
                                '</div>';
                    }
                    html_swiper +=  '</div>' +
                            '<div class="swiper-pagination"></div>'+
                            '</div>'+
                            '</div>'+
                            '</div>';

                    var html_col_2 =  '<div class="row index-rec-cate bgwhite">';
                    for(var j = 0;j< data.info.length; j++){
                        //填充分类小图标
                        html_col_2 +=   '<div class="col-xs-2 item">'+
                                '<a href="/Shop/index/id/'+data.info[j].id+'"><span class="img"><img src="'+data.info[j].shop_header_img+'" width="40" /></span></a>'+
                                '</div>';
                    }
                    html_col_2 += '</div>';

                    $('#thelist').append(html_swiper);
                    $('#thelist').append(html_col_2);

                    var tbswiper = new Swiper('.swiper-container', {
                        pagination: '.swiper-pagination',
                        loop:false,
                        grabCursor: true,
                        centeredSlides: true,
                        paginationClickable: true,
                        spaceBetween: 30,
                        autoplay: 3000
                    });
                }else{

                }
                get_cate_banner();
            },
            error: function(xhr, type){

            }
        });
    }
    function get_cate_banner(){
        $.ajax({
            type : 'GET',
            url  : '/Index/get_cate_banner',
            dataType : 'json',
            success  : function(data){
                if(data.code == 10000){
                    var sbanner = '<div class="sbanner">';
                    //中部商品banner
                    for(var k = 0; k < data.info.length; k++){
                        sbanner += '<a href="/Cate/index/id/'+data.info[k].id+'" class="sbanner" > <img src="'+data.info[k].cate_img+'"> </a>';
                    }
                    sbanner += '</div>';
                    $('#thelist').append(sbanner);
                }else{}
                get_goods(1);
            },error : function(xhr){

            }
        });
    }
    function get_goods(p){
        $.ajax({
            type : 'GET',
            url  : '/Index/get_goods',
            data : {p:p},
            dataType : 'json',
            success  : function(data){
                var html = '';
                if(data.code == 10000){
                    localStorage.p = data.info.pager.totalPages;
                    if(p == 1){
                        html +=  '<div class="col-xs-12 bgwhite">' +
                                '<h5 class=" fs-14 pr"><i class="cube">&nbsp;</i> <span class="bgwhite pr z1">&nbsp;特惠精品</span>' +
                                '</h5>' +
                                '</div>' ;
                    }

                    html +='<div class="listwrap clearfix iclist" id="thelist">';
                    for(var i=0;i<data.info.userlikelist.length;i++){
                        html += '<div class="col-xs-6 goods mleft" style="width:45%">'+
                                ' <a href="__MODULE__/Goods/goods/gid/'+data.info.userlikelist[i].goods_id+'">'+
                                ' <div class="img cut-img" style="position:relative;">'+
                                ' <img src="'+data.info.userlikelist[i].goods_small_img+'"/>'+
                                ' </div>'+
                                ' <span class="title">'+data.info.userlikelist[i].goods_name+'</span>'+
                                '<p class="zprice clearfix">'+
                                '<font color="#ccc" class="col-xs-7">'+data.info.userlikelist[i].goods_sn+
                                '</font> <span class="price col-xs-5">￥'+data.info.userlikelist[i].goods_price+'</span><br>'+
                                ' </p>'+
                                ' </a>'+
                                '</div>';
                    }
                    html += '</div>';

                }else{

                }
                $('#thelist').append(html);
            },
            error : function(xhr){

            }
        });
    }

    function a(){
        var string = "wed445******家购买了玩具电动车一台！,giowi******家购买了美容仪！,阿哲******家购买了游戏机一台！,qwc******家购买了saw一台！,fff,ggg";   //原始数据
        var array = string.split(",");           //转化为数组
        var value = array[Math.round(Math.random()*(array.length-1))];  //随机抽取一个值
        layer.open({
            content: value
            ,style: 'border:none; background-color:rgba(255,255,255,0.5); color:#92d2a7;'
            ,anim:false
            ,skin: 'msg'
            ,time: 3 //2秒后自动关闭
        });
    }
    window.setInterval("a()",5000);
    get_banner();

    /**
     * 下拉刷新 （自定义实现此方法）
     * myScroll.refresh();  // 数据加载完成后，调用界面更新方法
     */
    function pullDownAction () {
        get_banner();
        $('#thelist').empty();
        myScroll.refresh();  //数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)
    }
    /**
     * 滚动翻页 （自定义实现此方法）
     * myScroll.refresh();  // 数据加载完成后，调用界面更新方法
     */
    var p = 2;
    function pullUpAction () {
        if(p <= localStorage.p){
            get_goods(p);
            p++;

        }
        myScroll.refresh();  // 数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)

    }
</script>