<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	运算符使用,原来两个数{$a}和{$b}:<br>
	加法:{$a + $b}<br>
	加法:{$a - $b}<hr>

	<!-- 系统变量可以直接在视图中输出 -->
	$_GET中的page参数:{$Think.get.page}<hr>

	<!-- 如果$username没有值,则输出默认值 -->
	姓名:{$username|default='zhenzhen'} <br>
	person信息:<br>
	姓名:{$person['name']} <br>
	年龄:{$person['age']} <br>
	性别:
	<if condition=" $person.sex eq 1 ">
	男
	<else/>
	女
	</if>
	<hr>
	person信息:姓名:{$person.name} <br>
	person信息:年龄:{$person.age} <br>
	<hr>
	<div>
	<!--
	<volist name="data" key="k" id="vol" >
		序号:{$k}<br>
		商品名称:{$vol.goods_name}<br>
		商品价格:{$vol.goods_price}<br>
		商品数量:{$vol.goods_number}<br>
		<hr>
	</volist>
	</div>
	-->
	<div>
	<foreach name="data" key="key" item="goods" >
		序号:{$key}<br>
		商品名称:{$goods.goods_name}<br>
		商品价格:{$goods.goods_price}<br>
		商品数量:{$goods.goods_number}<br>
		添加时间:{$goods.goods_create_time|date="Y-m-d H:i:s",###}<br>
		<!-- 在使用函数的格式时,变量必须使用数组的格式 -->
		添加时间:{:date("Y_m-d H:i:s","$goods[goods_create_time]")}<br>
		<hr>
	</foreach>
	</div>

</body>
</html>