
		<title>物流</title>
		<link href="__PUBLIC__/Home/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__PUBLIC__/Home/css/lostyle.css" rel="stylesheet" type="text/css">
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<div class="user-logistics">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">物流跟踪</strong> / <small>Logistics&nbsp;History</small></div>
						</div>
						<hr/>
						<div class="package-title">
							<div class="m-item">
								<div class="item-pic">
									<img src="{$goods.goods_small_img}" class="itempic J_ItemImg" width="80px" height="80px">
								</div>
								<div class="item-info">
									<p class="log-status">物流状态:
									<span>
									<if condition= " $res_arr.state == 3 ">
									已签收
									<elseif condition=" $res_arr.state == 4 " />
									退签
									<elseif condition=" $res_arr.state == 5 " />
									派件
									<elseif condition=" $res_arr.state == 6 " />
									退回
									<else />
									在途中
									</if>
									</span> </p>
									<p>承运公司：
									<if condition= " $res_arr.com == 'yuantong' ">
									圆通速递
									<elseif condition=" $res_arr.com == 'shentong' " />
									申通
									<elseif condition=" $res_arr.com == 'yunda' " />
									韵达快运
									<elseif condition=" $res_arr.com == 'shunfeng' " />
									顺丰
									<elseif condition=" $res_arr.com == 'zhongtong' " />
									中通
									</if>
									</p>
									<p>快递单号：{$res_arr.nu}</p>
									<p>官方电话：</p>
								</div>
							</div>
                         <div class="clear"></div>
						</div>
						<div class="package-status">
							<ul class="status-list">
							<volist name="data" id="vol">		
								<li class="latest">
									<p class="text">{$vol.context}</p>
									<div class="time-list">
										<span class="date">{$vol.time}</span>
									</div>
								</li>
							</volist>
							<!--
								<li>
									<p class="text">【武汉市】光谷关山分部派件员正在为您派件</p>
									<div class="time-list">
										<span class="date hidden">2015-12-19</span><span class="week hidden">周六</span><span class="time">14:27:28</span>
									</div>
								</li>
								<li>
									<p class="text">【武汉市】快件已到达 光谷关山分部</p>
									<div class="time-list">
										<span class="date hidden">2015-12-19</span><span class="week hidden">周六</span><span class="time">09:25:51</span>
									</div>
								</li>
								<li>
									<p class="text">【武汉市】武汉 已发出</p>
									<div class="time-list">
										<span class="date  hidden">2015-12-19</span><span class="week  hidden">周六</span><span class="time">06:56:03</span>
									</div>
								</li>
							-->							
							</ul>
						</div>
					</div>
				</div>
				<!--底部-->
				
			</div>
			<!-- 左侧连接地址 -->
			<include file="Common/left" />
			<!-- 左侧连接地址 -->
		</div>

	</body>

</html>