<!-- FOOTER -->
            <footer class="page-footer">
                <section class="sec-space light-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 footer-widget">
                                <div class="main-logo">
                                    <a href="index.html"> <strong>naturix <img src="__PUBLIC__/Home/img/icons/logo-icon.png" alt="" /> </strong> <span class="light-font">farmfood</span>  </a>
                                    <span class="medium-font">ORGANIC STORE</span>
                                </div>
                                <span class="divider-2"></span>
                                <div class="text-widget">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                                    <ul>
                                        <li> <i class="fa fa-map-marker"></i> <span> <strong>100 highland ave,</strong> california, united state </span> </li>
                                        <li> <i class="fa fa-envelope-square"></i> <span><a href="#">email@lingjiuyi.cn</a> </span> </li>
                                        <li> <i class="fa fa-phone-square"></i> <span><a href="#">www.lingjiuyi.cn</a> </span> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 footer-widget">
                                <h2 class="title-1">  <span class="light-font">naturix  </span> <strong>information </strong> </h2>
                                <span class="divider-2"></span>
                                <ul class="list">
                                    <li> <a href="#/aboutOurShop"> about our shop </a> </li>
                                    <li> <a href="#/topSellers"> top sellers </a> </li>
                                    <li> <a href="#/ourBlog"> our blog </a> </li>
                                    <li> <a href="#/newProducts"> new products </a> </li>
                                    <li> <a href="#/secureShopping"> secure shopping </a> </li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-4 footer-widget">
                                <h2 class="title-1">  <span class="light-font">my  </span> <strong>account </strong> </h2>
                                <span class="divider-2"></span>
                                <ul class="list">
                                    <li> <a href="#/myAccount"> my account </a> </li>
                                    <li><a href="#/accountInformation"> Account Information </a></li>
                                    <li><a href="#/addressBook"> Address Books</a></li>
                                    <li><a href="#/orderHistory"> Order History</a></li>
                                    <li><a href="#/reviewRating"> Reviews and Ratings</a></li>
                                    <li><a href="#/return"> Returns Requests</a></li>
                                    <li><a href="#/newsletter"> Newsletter</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-4 footer-widget">
                                <h2 class="title-1">  <span class="light-font">photo  </span> <strong>instagram </strong> </h2>
                                <span class="divider-2"></span>
                                <ul class="instagram-widget">
                                    <li> <a href="#"> <img src="__PUBLIC__/Home/img/extra/80x80-1.jpg" alt="" /> </a> </li>
                                    <li> <a href="#"> <img src="__PUBLIC__/Home/img/extra/80x80-2.jpg" alt="" /> </a> </li>
                                    <li> <a href="#"> <img src="__PUBLIC__/Home/img/extra/80x80-3.jpg" alt="" /> </a> </li>
                                    <li> <a href="#"> <img src="__PUBLIC__/Home/img/extra/80x80-4.jpg" alt="" /> </a> </li>
                                    <li> <a href="#"> <img src="__PUBLIC__/Home/img/extra/80x80-5.jpg" alt="" /> </a> </li>
                                    <li> <a href="#"> <img src="__PUBLIC__/Home/img/extra/80x80-6.jpg" alt="" /> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="footer-bottom">
                    <div class="pattern">
                        <img alt="" src="__PUBLIC__/Home/img/icons/white-pattern.png">
                    </div>
                    <div id="to-top" class="to-top"> <i class="fa fa-arrow-circle-o-up"></i> </div>
                    <div class="container ptb-50">
                        <div class="row">
                            <div class="col-md-6 col-sm-5">
                                <!--<p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.naturix.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>-->
                                <p> &copy; 2017&emsp;<i class="fa fa-heart red-clr"></i>零玖一&emsp;<a target="_blank" href="http://www.miitbeian.gov.cn/"><span class="icon icon-aq">京ICP备 17070861 号</span></a></p>

                            </div>
                            <div class="col-md-6 col-sm-7">
                                <ul class="primary-navbar footer-menu">
                                    <li> <a href="#">联系我们 </a> </li>
                                    <li> <a href="#">使用条款  </a> </li>
                                    <li> <a href="#">网站地图  </a> </li>
                                    <li> <a href="#">隐私权 政策</a> </li>
                                </ul>
                                <span style="float: right;font-size: 8px;">网站使用模板如有侵权请联系我们</span>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
            <!-- /FOOTER -->
