<!-- FOOTER -->
            <footer class="page-footer">
                <section class="sec-space light-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 footer-widget">
                                <div class="main-logo">
                                    <a href="index.html"> <strong>lingjiuyi <img src="__PUBLIC__/Home/img/icons/logo-icon.png" alt="" /> </strong> <span class="light-font">Manual workshop</span>  </a>
                                    <span class="medium-font">创意改变生活 手工塑造人生</span>
                                </div>
                                <span class="divider-2"></span>
                                <div class="text-widget">
                                    <p>Creativity change life and shape life by hand.</p>
                                    <ul>
                                        <li> <a href="__MODULE__/Index/contact"><i class="fa fa-map-marker"></i> <span> <strong>中国 北京市 东城区</strong> 板桥南巷人民美术大厦北楼3楼 </span></a> </li>
                                        <li> <i class="fa fa-envelope-square"></i> <span><a href="javascript:void(0);">postmaster@lingjiuyi.cn</a> </span> </li>
                                        <li> <i class="fa fa-phone-square"></i> <span><a href="__MODULE__/Index/index">www.lingjiuyi.cn</a> </span> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 footer-widget">
                                <h2 class="title-1">  <span class="light-font">lingjiuyi  </span> <strong>information </strong> </h2>
                                <span class="divider-2"></span>
                                <ul class="list">
                                    <li> <a href="javascript:void(0);"> 关于商城 </a> </li>
                                    <li> <a href="javascript:void(0);"> 畅销推荐 </a> </li>
                                    <li> <a href="javascript:void(0);"> 上新产品 </a> </li>
                                    <li> <a href="javascript:void(0);"> 安全购物 </a> </li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-4 footer-widget">
                                <h2 class="title-1">  <span class="light-font">关注  </span> <strong>我们 </strong> </h2>
                                <span class="divider-2"></span>
                                <ul class="list">
                                    <li><a href="javascript:void(0);" id="feedback"> 用户反馈</a></li>
                                    <li><a href="javascript:void(0);" id="report"> 违规有害信息举报</a></li>
                                    <li><a href="javascript:void(0);" id="show_subscribe_popups"> 订阅消息推送</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-4 footer-widget">
                                <h2 class="title-1">  <span class="light-font">Picture </span> <strong>community </strong> </h2>
                                <span class="divider-2"></span>
                                <ul class="instagram-widget">
                                    <li> <a href="javascript:void(0);"> <img src="__PUBLIC__/Home/img/extra/80x80-1.jpg" alt="" /> </a> </li>
                                    <li> <a href="javascript:void(0);"> <img src="__PUBLIC__/Home/img/extra/80x80-2.jpg" alt="" /> </a> </li>
                                    <li> <a href="javascript:void(0);"> <img src="__PUBLIC__/Home/img/extra/80x80-3.jpg" alt="" /> </a> </li>
                                    <li> <a href="javascript:void(0);"> <img src="__PUBLIC__/Home/img/extra/80x80-4.jpg" alt="" /> </a> </li>
                                    <li> <a href="javascript:void(0);"> <img src="__PUBLIC__/Home/img/extra/80x80-5.jpg" alt="" /> </a> </li>
                                    <li> <a href="javascript:void(0);"> <img src="__PUBLIC__/Home/img/extra/80x80-6.jpg" alt="" /> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="footer-bottom">
                    <div class="pattern">
                        <img alt="" src="__PUBLIC__/Home/img/icons/white-pattern.png">
                    </div>
                    <div id="to-top" class="to-top"> <i class="fa fa-arrow-circle-o-up"></i> </div>
                    <div class="container ptb-50">
                        <div class="row">
                            <div class="col-md-6 col-sm-5">
                                <!--<p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.naturix.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>-->
                                <p> &copy; 2017&emsp;<i class="fa fa-heart red-clr"></i>零玖一&emsp;<a target="_blank" href="http://www.miitbeian.gov.cn/"><span class="icon icon-aq">京ICP备 17070861 号</span></a></p>

                            </div>
                            <div class="col-md-6 col-sm-7">
                                <ul class="primary-navbar footer-menu">
                                    <li> <a href="#">联系我们 </a> </li>
                                    <li> <a href="#">使用条款  </a> </li>
                                    <li> <a href="#">网站地图  </a> </li>
                                    <li> <a href="#">隐私权 政策</a> </li>
                                </ul>
                                <span style="float: right;font-size: 8px;">网站使用模板如有侵权请联系我们</span>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
            <!-- /FOOTER -->
