
<div class="container-fluid rel-div">
    <div class="col-lg-4 col-sm-8">
        <div class="main-logo" >
            <a href="index.html"> <strong>零玖一 <img src="__PUBLIC__/Home/img/icons/logo-icon.png" alt="" /> </strong> <span class="light-font">手工作坊</span>  </a>
            <span class="medium-font">Manual workshop</span>
        </div>
    </div>

    <div class="col-lg-6 responsive-menu">
        <div class="responsive-toggle fa fa-bars"> </div>
        <nav class="fix-navbar" id="primary-navigation">
            <ul class="primary-navbar">
                <li <if condition=" '__CONTROLLER__' == '/Index' ">class="dropdown active"</if>>
                    <a href="__MODULE__/Index/index"> 主页 </a>
                </li>
                <li><a href="__MODULE__/Index/blog" > 博客 </a></li>
                <li><a href="__MODULE__/Index/contact"> 加入我们 </a></li>
                <if condition=" $Think.session.userinfo " >
                    <li <if condition=" '__CONTROLLER__' == '/User' ">class="dropdown active"<else/>class="dropdown"</if> >
                        <a href="javascript:void(0);"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"> 个人中心 </a>
                        <ul class="dropdown-menu">
                            <li><a href="__MODULE__/User/index" id="my_mine"> 我的零玖一 </a></li>
                            <li><a href="__MODULE__/Public/logout" > 退出 </a></li>
                        </ul>
                    </li>
                <else/>
                    <li><a href="javascript:void(0);" onclick="show_login()"> 登录 </a></li>
                </if>
                <li>
                    <div class="search-wrap" style="width: 150px;">
                        <input class="form-control" placeholder="搜索商品名称" id="research">
                        <button class="btn" type="button" id="search"> <i class="fa fa-search"></i> </button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-lg-2 col-sm-4 cart-megamenu">
        <div class="cart-hover">
            <a href="javascript:void(0);"> <img alt="" src="__PUBLIC__/Home/img/icons/cart-icon.png" /></a>
            <span class="cnt crl-bg">0</span> <span class="price"><a href="javascript:void(0);">0</a></span>
        </div>
        <div class="mega-submenu">
            <span class="nav-trigger">
                <a class="menu-toggle" href="javascript:void(0);"> <img src="__PUBLIC__/Home/img/icons/menu.png" alt="" /> </a>
            </span>
            <div class="mega-dropdown-menu">
                <a class="menu-toggle fa fa-close" href="javascript:void(0);">  </a>
                <div class="slider-mega-menu">
                    <volist name="Think.session.cates" key="key" id="cate_one">
                        <if condition=" $cate_one.pid == 0 " >
                            <div class="menu-block">
                                <div class="menu-caption">
                                    <h2 class="menu-title"> <span class="light-font"> Fresh </span>  <strong>{$cate_one.cate_name}</strong> </h2>
                                    <ul class="sub-list">
                                        <volist name="Think.session.cates" id="cate_two">
                                            <if condition=" $cate_two.pid == $cate_one.id " >
                                                <li> <a href="javascript:void(0);">{$cate_two.cate_name}</a> </li>
                                                <ul style="font-size: 14px;display: none;">
                                                    <volist name="Think.session.cates" id="cate_three">
                                                        <if condition=" $cate_three.pid == $cate_two.id " >
                                                            <li> <a href="#/id/{$cate_three.id}">&emsp;{$cate_three.cate_name}</a> </li>
                                                        </if>
                                                    </volist>
                                                </ul>
                                            </if>
                                        </volist>
                                    </ul>
                                    <h2 class="title"> <a href="javascript:void(0);" class="clr-txt"> All Fruits </a> </h2>
                                </div>
                                <div class="menu-img">
                                    <img alt="" src="__PUBLIC__/Home/img/extra/menu-1.png" />
                                </div>
                            </div>
                        </if>
                    </volist>
                </div>
            </div>
        </div>
        <div class="responsive-toggle fa fa-bars"> </div>
    </div>

</div>

<!-- Login start -->
<div class="layer_login" style="display: none;">
    <div id="login_frame">
        <img src="__PUBLIC__/Home/img/logo/logo_2x.png" width="106" height="36" data-baiduimageplus-ignore="1" class="logo">

        <div class="sign-up" style="display: none;">
            <div class="holder">
                <div class="with-line">用第三方帐号注册零玖一</div>
                <div class="buttons">
                    <a href="javascript:void(0);" title="微博帐号注册" rel="nofollow" class="weibo"></a>
                    <a href="javascript:void(0);" title="QQ帐号注册" rel="nofollow" class="qzone"></a>
                    <a href="javascript:void(0);" title="微信帐号注册" rel="nofollow" class="wechat"></a>
                    <a href="javascript:void(0);" title="豆瓣帐号注册" rel="nofollow" class="douban"></a>
                </div>
                <a class="switch-email-signup brown-link">使用手机号/邮箱注册</a>
            </div>
            <div class="switch">已有帐号？<a class="brown-link botn-login">登录到零玖一</a></div>
        </div>
        <div style="display: block;" class="login">
            <div class="holder">
                <div class="with-line">使用第三方帐号登录</div>
                <div class="buttons small">
                    <a href="javascript:void(0);" title="微博帐号登录" rel="nofollow" class="weibo"></a>
                    <a href="javascript:void(0);" title="QQ帐号登录" rel="nofollow" class="qzone"></a>
                    <a href="javascript:void(0);" title="微信帐号登录" rel="nofollow" class="wechat"></a>
                    <a href="javascript:void(0);" title="豆瓣帐号登录" rel="nofollow" class="douban"></a>
                    <a href="javascript:void(0);" title="人人帐号登录" rel="nofollow" style="margin-right: 0" class="renren"></a>
                </div>
                <div class="with-line">使用手机号/邮箱登录</div>
                <form action="" method="post" class="mail-login">
                    <input type="hidden" name="_ref" value="frame">
                    <input type="text" name="email" placeholder="输入用户名/手机号/邮箱" class="clear-input">
                    <input name="password" type="password" placeholder="密码" class="clear-input">
                    <a href="javascript:void(0);" class="btn btn18 rbtn"><span class="text"> 登录</span></a>
                </form>
                <a class="reset-password red-link">忘记密码»</a>
                <div class="switch-back">还没有零玖一帐号？
                    <a class="red-link register">点击注册»</a>
                </div>
            </div>
        </div>
        <div style="display: none" class="reset">
            <div class="holder">
                <div class="with-line">找回密码</div>
                <form class="reset-form">
                    <input type="text" name="email" placeholder="输入手机号或者邮箱" class="clear-input">
                    <a href="javascript:void(0);" class="btn btn18 rbtn"><span class="text"> 重置</span></a>
                </form>
                <a class="back red-link">又想起来了»</a>
            </div>
        </div>
        <div class="email-signup">
            <div style="display: none" class="signup-success">
                <div class="with-line">注册成功</div>
                <div class="text">验证邮件已经发送到
                    <span class="email">email</span>，请
                    <a href="" target="_blank" class="check-mail red-link">点击查收邮件</a>激活账号。
                    <br>没有收到激活邮件？请耐心等待，或者
                    <a class="resend red-link disabled">重新发送<span>30</span></a>
                </div>
                <a class="login-link red-link">« 返回登录页</a>
            </div>
            <div style="display: none" class="signup-form">
                <div class="holder">
                    <div class="with-line">使用手机号/邮箱注册</div>
                    <form action="" method="post" class="regi-form">
                        <input type="text" name="email" placeholder="输入手机号或者邮箱" class="clear-input">
                        <div id="captcha" class="captcha"></div>
                        <a href="javascript:void(0);" class="btn btn18 rbtn"><span class="text"> 注册</span></a>
                    </form>
                    <a class="email-signup-back brown-link">« 返回第三方帐号登录</a>
                </div>
            </div>
        </div>
        <div class="close">
            <i></i>
        </div>
    </div>
</div>
<!-- Login end -->


