
<!-- Product Preview Popup -->
<section class="modal fade" id="product-preview" tabindex="999" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg product-modal">
        <div class="modal-content">
            <a aria-hidden="true" data-dismiss="modal" class="sb-close-btn close" href="#"> <i class=" fa fa-close"></i> </a>

            <div class="product-single pb-50 clearfix">
                <!-- Single Products Slider Starts -->

                <div class="col-lg-6 col-sm-8 col-sm-offset-2 col-lg-offset-0 pt-50">
                    <div class="prod-slider sync1 ">
                    </div>

                    <div  class="sync2">
                    </div>
                </div>
                <!-- Single Products Slider Ends -->

                <div class="col-lg-6 pt-50">
                    <div class="product-content block-inline">

                        <div class="tag-rate">
                            <span class="prod-tag tag-1">新品</span> <span class="prod-tag tag-2">促销</span>
                            <div class="rating">
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="fsz-12"> 0</span>
                            </div>
                        </div>

                        <div class="single-caption">
                            <h3 class="section-title">
                                <a href="javascript:void(0);"> <span class="light-font"> 【零玖一】 </span>  <strong>name</strong></a>
                            </h3>
                            <span class="divider-2"></span>
                            <p class="price">
                                <strong class="clr-txt fsz-20">$0.00 </strong> <del class="light-font">$0.00 </del>
                            </p>

                            <div class="fsz-16">
                                <p>Creativity change life and shape life by hand. </p>
                            </div>

                            <div class="prod-btns item" style="text-align: left;">
                                <div class="quantity">
                                    <button class="btn minus"><i class="fa fa-minus-circle"></i></button>
                                    <input title="Qty" value="1" class="form-control qty" type="text" name="number">
                                    <button class="btn plus"><i class="fa fa-plus-circle"></i></button>
                                </div>
                                <div style="color:#92d2a7;font-size:22px;padding-left: 10px;">
                                    <i class="fa fa-heartbeat" aria-hidden="true"></i><span style="font-size: 8px;">0</span>
                                </div>
                                <div style="color:#79d1d6;font-size:22px;padding-left: 10px;">
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i><span style="font-size: 8px;">0</span>
                                </div>
                                <div style="color:#92d2a7;font-size:22px;padding-left: 10px;">
                                    <i class="fa fa-eye" aria-hidden="true"></i><span style="font-size: 8px;">0</span>
                                </div>
                            </div>
                            <div class="only_attrs">
                            </div>
                            <div class="form-group"  style="padding-top:15px;">
                                <label class="checkbox-inline">
                                </label>
                            </div>
                            <ul class="meta">
                                <li class="tags-widget"> <strong> 标签 </strong> <span>:  <a href="javascript:void(0);">水果</a> <a href="javascript:void(0);">蔬菜</a></span> </li>
                            </ul>
                            <div class="divider-full-1"></div>
                            <div class="add-cart pt-15">
                                <a href="javascript:void(0);" class="theme-btn btn" onclick="before_add_cart(this)"> <strong> 加入购物车 </strong> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- / Product Preview Popup -->
