<div class="header-topbar">
    <div class="container-fluid">
        <div class="left">
            <ul class="top-nav">
                <li>
                    <span>Email : </span> <a href="#">email@lingjiuyi.cn </a>
                </li>
            </ul>
        </div>
        <div class="right">
            <ul class="top-nav">
                <li>
                    <form action="#" class="currency">
                        <div class="search-selectpicker selectpicker-wrapper">
                            <select  class="selectpicker input-price" data-width="100%"
                                     data-toggle="tooltip">
                                <option>USD</option>
                                <option>EUR</option>
                                <option>ARS</option>
                                <option>BRL</option>
                                <option>XAF</option>
                                <option>HUF</option>
                            </select>
                        </div>
                    </form>
                </li>
                <li>
                    <form action="#" class="currency">
                        <div class="search-selectpicker selectpicker-wrapper">
                            <select class="selectpicker input-price" data-width="100%"
                                    data-toggle="tooltip">
                                <option>United State</option>
                                <option>Argentina</option>
                                <option>Germany</option>
                                <option>Cameroon</option>
                                <option>Hungary</option>
                            </select>
                        </div>
                    </form>
                </li>
                <li class="social-icon">
                    <a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-qq" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-weixin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-renren" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>